# Copyright 2023 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.intelligence.mandiant.com/token
  response:
    body:
      string: '{"access_token": "FAKE_TOKEN","token_type":"Bearer","expires_in":12018}

        '
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      X-App-Name:
      - MA-TI-Python-Lib-v0.1
    method: GET
    uri: https://api.intelligence.mandiant.com/v4/campaign/campaign--6ed45e70-f2c5-5f62-a5ec-d8c25764cd8c
  response:
    body:
      string: "{\n    \"type\": \"campaign\",\n    \"id\": \"campaign--6ed45e70-f2c5-5f62-a5ec-d8c25764cd8c\",\n
        \   \"name\": \"Financially Motivated Group FIN11 Targeting Vulnerable Cisco
        VPNs\",\n    \"description\": \"In early December 2022, Mandiant observed
        threat actors conduct widespread scanning to identify vulnerable Cisco AnyConnect
        appliances. The threat actors may have been attempting to exploit CVE-2020-3433
        and/or CVE-2020-3153, given that CISA added these vulnerabilities to their
        Exploited Catalog in October 2022; however, the timing may be coincedental.
        We believe that this activity was conducted by FIN11, based on infrastructure
        and server certificate overlaps. Further, exploitation of vulnerabilities
        in internet-facing systems is consistent with FIN11 activity observed earlier
        in 2022.\\n\\nMandiant has not yet identified significant follow-on activity;
        however, since 2019 FIN11 has consistently monetized access via data theft
        and/or CLOP ransomware deployment. FIN11 has historically been known for widespread
        phishing campaigns, but the group has shifted to exploiting vulnerabilities
        in internet-facing systems for initial access. While FIN11 has exploited recently
        disclosed vulnerabilities, overlaps between FIN11 and UNC2582\\u2014a threat
        cluster that conducted data theft extortion after UNC2546 exploited several
        zero-day vulnerabilities in Accellion\\u2019s legacy File Transfer Appliance
        (FTA)\\u2014suggest that FIN11 may have developed or acquired zero-day vulnerabilities
        in the past.\",\n    \"releasable\": true,\n    \"counts\": {\n        \"actors\":
        1,\n        \"reports\": 1,\n        \"malware\": 1,\n        \"campaigns\":
        0,\n        \"industries\": 11,\n        \"timeline\": 19,\n        \"vulnerabilities\":
        1,\n        \"actor_collaborations\": 0,\n        \"tools\": 0\n    },\n    \"audience\":
        [\n        {\n            \"name\": \"intel_oper\",\n            \"license\":
        \"INTEL_RBI_OPS\"\n        },\n        {\n            \"name\": \"intel_fusion\",\n
        \           \"license\": \"INTEL_RBI_FUS\"\n        },\n        {\n            \"name\":
        \"tlp_marking\",\n            \"license\": \"amber\"\n        }\n    ],\n
        \   \"profile_updated\": \"2023-01-27T07:04:48.297Z\",\n    \"campaign_type\":
        \"Individual\",\n    \"short_name\": \"CAMP.22.063\",\n    \"last_activity_time\":
        \"2023-01-18T00:00:00.000Z\",\n    \"campaigns\": [],\n    \"timeline\": [\n
        \       {\n            \"name\": \"Campaign Created\",\n            \"description\":
        \"Mandiant Declared Campaign\",\n            \"releasable\": true,\n            \"event_type\":
        \"created\",\n            \"timestamp\": \"2022-12-29T00:00:00.000Z\"\n        },\n
        \       {\n            \"name\": \"First Observed\",\n            \"description\":
        \"Mandiant Observed First Activity of Campaign\",\n            \"releasable\":
        true,\n            \"event_type\": \"first_observed\",\n            \"timestamp\":
        \"2022-02-08T00:00:00.000Z\"\n        },\n        {\n            \"name\":
        \"Technique Observed\",\n            \"description\": \"Mandiant Observed
        Use of The Technique\",\n            \"releasable\": true,\n            \"event_type\":
        \"technique_observed\",\n            \"mandiant_technique\": {\n                \"type\":
        \"attack-pattern\",\n                \"id\": \"attack-pattern--370af2df-e616-5b93-a0d8-21b656ac11c8\",\n
        \               \"name\": \"Port Scanning\",\n                \"attribution_scope\":
        \"confirmed\",\n                \"releasable\": true\n            },\n            \"mitre_techniques\":
        [\n                {\n                    \"type\": \"attack-pattern\",\n
        \                   \"id\": \"attack-pattern--e3a12395-188d-4051-9a16-ea8e14d07b88\",\n
        \                   \"name\": \"Network Service Discovery\",\n                    \"attribution_scope\":
        \"confirmed\",\n                    \"releasable\": true,\n                    \"mitre_id\":
        \"T1046\",\n                    \"tactics\": [\n                        \"Discovery\"\n
        \                   ]\n                }\n            ],\n            \"used_by\":
        [\n                {\n                    \"releasable\": true,\n                    \"actor\":
        {\n                        \"type\": \"threat-actor\",\n                        \"id\":
        \"threat-actor--b8ee8129-5ecc-581a-a636-fb17051d2ffe\",\n                        \"name\":
        \"FIN11\",\n                        \"attribution_scope\": \"confirmed\",\n
        \                       \"releasable\": true\n                    },\n                    \"first_observed\":
        \"2022-12-03T00:00:00.000Z\",\n                    \"last_observed\": \"2022-12-07T00:00:00.000Z\"\n
        \               }\n            ]\n        },\n        {\n            \"name\":
        \"Technique Observed\",\n            \"description\": \"Mandiant Observed
        Use of The Technique\",\n            \"releasable\": true,\n            \"event_type\":
        \"technique_observed\",\n            \"mandiant_technique\": {\n                \"type\":
        \"attack-pattern\",\n                \"id\": \"attack-pattern--3bffb47c-a8e6-5152-9146-062d5f07d4[...]
