# Copyright 2023 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

interactions:
- request:
    body: null
    headers:
      X-App-Name:
      - MA-TI-Python-Lib-v0.1
    method: GET
    uri: https://api.intelligence.mandiant.com/v4/dtm/settings/email
  response:
    body:
      string: '{"email_settings":[{"id":"c7u79mmd3n4qvg37ct2g","frequency":["monday"],"delivery_times":["08:00","18:00"],"timezone_location":"America/Nassau","recipients":[],"created_at":"2022-02-04T00:35:38.247Z","updated_at":"2023-05-29T08:50:02.143Z"}]}

        '
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Api-Proxy:
      - '1'
    status:
      code: 200
      message: OK
version: 1
