# Copyright 2023 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

interactions:
- request:
    body: null
    headers:
      X-App-Name:
      - MA-TI-Python-Lib-v0.1
    method: GET
    uri: https://api.intelligence.mandiant.com/v4/dtm/monitors/ci09hlgl24d39uf0c72g
  response:
    body:
      string: '{"id":"ci09hlgl24d39uf0c72g","name":"Card Shops chrishultin","description":"Know
        if your credit cards are for sale on the Deep \u0026 Dark Web.","enabled":true,"doc_condition":{"operator":"all","topic":"match_conditions","match":[{"operator":"must_equal","topic":"doc_type","match":["shop_listing","forum_post","message","paste"]},{"operator":"must_start_with","topic":"group_bin","match":["1","2","3","4"]}]},"created_at":"2023-06-07T14:48:54.936Z","updated_at":"2023-06-07T14:48:54.936Z","email_notify_enabled":false,"email_notify_immediate":false,"template_id":"7ff0bc0b-fc60-40d4-bbde-a1436a40b38a","created_by_user_id":"d5e7d710-1cd9-103c-96f7-5330685e6260","last_updated_by_user_id":"d5e7d710-1cd9-103c-96f7-5330685e6260","created_by_user_email":"Mandiant
        User","last_updated_user_email":"Mandiant User"}

        '
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Api-Proxy:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      X-App-Name:
      - MA-TI-Python-Lib-v0.1
    method: DELETE
    uri: https://api.intelligence.mandiant.com/v4/dtm/monitors/ci09hlgl24d39uf0c72g
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Api-Proxy:
      - '1'
    status:
      code: 204
      message: No Content
version: 1
