# Copyright 2023 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

interactions:
- request:
    body: '{"description": "test", "doc_condition": {"operator": "must_equal", "topic":
      "access_token", "match": ["fake_token"]}, "email_notify_enabled": false, "email_notify_immediate":
      false, "enabled": false, "name": "ChrisHultin Test"}'
    headers:
      Content-Type:
      - application/json
      X-App-Name:
      - MA-TI-Python-Lib-v0.1
    method: POST
    uri: https://api.intelligence.mandiant.com/v4/dtm/monitors
  response:
    body:
      string: '{"id":"ci0dcaol24d39uf0dut0","name":"ChrisHultin Test","description":"test","enabled":false,"doc_condition":{"operator":"must_equal","topic":"access_token","match":["fake_token"]},"created_at":"2023-06-07T19:10:35.9Z","updated_at":"2023-06-07T19:10:35.9Z","email_notify_enabled":false,"email_notify_immediate":false,"disabled_code":"user_disabled","disabled_reason":"Monitor
        disabled by user.","created_by_user_id":"45b8aeaa-a094-103c-9b0a-87398b79b7c8","last_updated_by_user_id":"45b8aeaa-a094-103c-9b0a-87398b79b7c8"}

        '
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Api-Proxy:
      - '1'
    status:
      code: 200
      message: OK
version: 1
