# Copyright 2023 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

interactions:
- request:
    body: null
    headers:
      X-App-Name:
      - MA-Python-Lib-v0.1
    method: GET
    uri: https://api.intelligence.mandiant.com/v4/actor/APT29
  response:
    body:
      string: "{\n    \"id\": \"threat-actor--7a39953e-0dae-569a-9d49-d52a4a8865b1\",\n
        \   \"name\": \"APT29\",\n    \"description\": \"APT29 is a cyber espionage
        actor with a Russia nexus. Historically, targets have included Western governments,
        foreign affairs and policymaking bodies, government contractors, universities,
        and possibly international news outlets. Based on available data, we assess
        that APT29 is a nation-state-sponsored group located in Russia. The group
        appears to have formidable capabilities, to include a range of custom developed
        tools, extensive command and control (C2) infrastructure that includes compromised
        and satellite infrastructure (via apparent service providers), and significant
        operational security. In investigations we worked where APT29 was present,
        they demonstrated a high regard for operational security but were also fairly
        aggressive in their continued operations and efforts to evade investigators
        and remediation attempts.\",\n    \"type\": \"threat-actor\",\n    \"last_updated\":
        \"2022-11-17T06:18:48.000Z\",\n    \"audience\": [\n        {\n            \"name\":
        \"intel_fusion\",\n            \"license\": \"INTEL_RBI_FUS\"\n        },\n
        \       {\n            \"name\": \"intel_ce\",\n            \"license\": \"INTEL_CYB_ESP\"\n
        \       },\n        {\n            \"name\": \"intel_oper\",\n            \"license\":
        \"INTEL_RBI_OPS\"\n        },\n        {\n            \"name\": \"tlp_marking\",\n
        \           \"license\": \"amber\"\n        }\n    ],\n    \"motivations\":
        [\n        {\n            \"id\": \"motivation--1b8ca82a-7cff-5622-bedd-965c11d38a9e\",\n
        \           \"name\": \"Espionage\",\n            \"attribution_scope\": \"confirmed\"\n
        \       }\n    ],\n    \"aliases\": [\"APT-C-42 (Qihoo)\",\n
        \       {\n            \"name\": \"APT29 (NCSC)\",\n            \"attribution_scope\":
        \"possible\"\n        },\n        {\n            \"name\": \"APT29 (Volexity)\",\n
        \           \"attribution_scope\": \"confirmed\"\n        },\n        {\n
        \           \"name\": \"Cloaked Ursa (Palo Alto Networks)\",\n            \"attribution_scope\":
        \"confirmed\"\n        },\n        {\n            \"name\": \"Cozy Bear (CrowdStrike)\",\n
  [...]
