# Copyright 2023 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

interactions:
- request:
    body: null
    headers:
      X-App-Name:
      - MA-Python-Lib-v0.1
    method: GET
    uri: https://api.intelligence.mandiant.com/v4/actor?limit=1&offset=0
  response:
    body:
      string: "{\n    \"threat-actors\": [\n        {\n            \"last_updated\":
        \"2022-11-10T05:32:54.000Z\",\n            \"aliases\": [\n                {\n
        \                   \"attribution_scope\": \"confirmed\",\n                    \"name\":
        \"Apt1 (Recorded Future)\"\n                },\n                {\n                    \"attribution_scope\":
        \"confirmed\",\n                    \"name\": \"Bronzesunset (Dell SecureWorks)\"\n
        \               },\n                {\n                    \"attribution_scope\":
        \"confirmed\",\n                    \"name\": \"Comment Crew (Internet)\"\n
        \               },\n                {\n                    \"attribution_scope\":
        \"confirmed\",\n [...]
[...]
- request:
    body: null
    headers:
      X-App-Name:
      - MA-Python-Lib-v0.1
    method: GET
    uri: https://api.intelligence.mandiant.com/v4/actor?limit=1&offset=2
  response:
    body:
      string: "{\n    \"threat-actors\": []}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
