# Copyright 2023 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.intelligence.mandiant.com/token
  response:
    body:
      string: '{"access_token": "FAKE_TOKEN","token_type":"Bearer","expires_in":33392}

        '
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      X-App-Name:
      - MA-TI-Python-Lib-v0.1
    method: GET
    uri: https://api.intelligence.mandiant.com/v4/actor/threat-actor--7a39953e-0dae-569a-9d49-d52a4a8865b1
  response:
    body:
      string: "{\n    \"id\": \"threat-actor--7a39953e-0dae-569a-9d49-d52a4a8865b1\",\n
        \   \"name\": \"APT29\",\n    \"description\": \"APT29 is a cyber espionage
        actor with a Russia nexus. Historically, targets have included Western governments,
        foreign affairs and policymaking bodies, government contractors, universities,
        and possibly international news outlets. Based on available data, we assess
        that APT29 is a nation-state-sponsored group located in Russia. The group
        appears to have formidable capabilities, to include a range of custom developed
        tools, extensive command and control (C2) infrastructure that includes compromised
        and satellite infrastructure (via apparent service providers), and significant
        operational security. In investigations we worked where APT29 was present,
        they demonstrated a high regard for operational security but were also fairly
        aggressive in their continued operations and efforts to evade investigators
        and remediation attempts.\",\n    \"type\": \"threat-actor\",\n    \"last_updated\":
        \"2023-01-27T02:18:48.000Z\",\n    \"audience\": [\n        {\n            \"name\":
        \"intel_fusion\",\n            \"license\": \"INTEL_RBI_FUS\"\n        },\n
        \       {\n            \"name\": \"intel_ce\",\n            \"license\": \"INTEL_CYB_ESP\"\n
        \       },\n        {\n            \"name\": \"intel_oper\",\n            \"license\":
        \"INTEL_RBI_OPS\"\n        },\n        {\n            \"name\": \"tlp_marking\",\n
        \           \"license\": \"amber\"\n        }\n    ],\n    \"motivations\":
        [\n        {\n            \"id\": \"motivation--1b8ca82a-7cff-5622-bedd-965c11d38a9e\",\n
        \           \"name\": \"Espionage\",\n            \"attribution_scope\": \"confirmed\"\n
        \       }\n    ],\n    \"aliases\": [\n        {\n            \"name\": \"APT-C-42
        (Qihoo)\",\n            \"attribution_scope\": \"possible\"\n        },\n
        \       {\n            \"name\": \"APT29 (NCSC)\",\n            \"attribution_scope\":
        \"possible\"\n        },\n        {\n            \"name\": \"APT29 (Volexity)\",\n
        \           \"attribution_scope\": \"confirmed\"\n        },\n        {\n
        \           \"name\": \"Cloaked Ursa (Palo Alto Networks)\",\n            \"attribution_scope\[...]
[...]
- request:
    body: null
    headers:
      X-App-Name:
      - MA-TI-Python-Lib-v0.1
    method: GET
    uri: https://api.intelligence.mandiant.com/v4/actor/threat-actor--7a39953e-0dae-569a-9d49-d52a4a8865b1/attack-pattern
  response:
    body:
      string: "{\n    \"threat-actors\": [\n        {\n            \"id\": \"threat-actor--7a39953e-0dae-569a-9d49-d52a4a8865b1\",\n
        \           \"name\": \"APT29\",\n            \"type\": \"actor-mitre\",\n
        \           \"attack-patterns\": {\n                \"Impact\": [\n                    {\n
        \                       \"id\": \"attack-pattern--ac9e6b22-11bf-45d7-9181-c1cb08360931\",\n
        \                       \"attribution_scope\": \"possible\",\n                        \"sub_techniques\":
        [\n                            {\n                                \"id\":
        \"attack-pattern--1cfcb312-b8d7-47a4-b560-4b16cc677292\",\n                                \"attribution_scope\":
        \"possible\"\n                            }\n                        ]\n                    },\n
        \                   {\n                        \"id\": \"attack-pattern--d45a3d09-b3cf-48f4-9f0f-f521ee5cb05c\",\n
        \                       \"attribution_scope\": \"confirmed\[...]
[...]
- request:
    body: null
    headers:
      X-App-Name:
      - MA-TI-Python-Lib-v0.1
    method: GET
    uri: https://api.intelligence.mandiant.com/v4/actor/threat-actor--7a39953e-0dae-569a-9d49-d52a4a8865b1/campaigns
  response:
    body:
      string: '{"campaigns":[{"name":"APT29 Conducts Phishing Campaign Targeting Multiple
        Federal Government Global/International Affairs Offices","id":"campaign--8d6e7115-c792-5ded-b0a9-81d10027a943","short_name":"CAMP.22.005","profile_updated":"2023-01-27T07:04:18.744Z"},{"name":"APT29
        Gains Access to Victim Organizations via Third Party to Steal IT Data","id":"campaign--d06555f4-c3b5-528a-be9b-2c8b70916e92","short_name":"CAMP.21.024","profile_updated":"2023-01-27T07:13:10.090Z"},{"name":"APT29
        Targeting Organizations with QUIETEXIT Tunneler, Traffic Proxied Through Video
        Conference Cameras","id":"campaign--54596667-ccef-5514-91be-93f537125721","short_name":"CAMP.22.007","profile_updated":"2023-01-27T07:06:43.908Z"}],"total_count":3,"id":"threat-actor--7a39953e-0dae-569a-9d49-d52a4a8865b1","name":"APT29","last_updated":"2023-01-27T02:18:48Z","last_activity_time":"2022-11-10T15:03:51Z"}

        '
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      X-App-Name:
      - MA-TI-Python-Lib-v0.1
    method: GET
    uri: https://api.intelligence.mandiant.com/v4/actor/threat-actor--7a39953e-0dae-569a-9d49-d52a4a8865b1/history
  response:
    body:
      string: "{\n    \"id\": \"threat-actor--7a39953e-0dae-569a-9d49-d52a4a8865b1\",\n
        \   \"name\": \"APT29\",\n    \"type\": \"actor-history\",\n    \"history\":
        [\n        {\n            \"id\": \"threat-actor--3769c58d-f32b-517f-afbc-82f952a45b5c\",\n
        \           \"name\": \"UNC710\",\n            \"merged\": \"2016-10-17T17:54:23.000Z\",\n
        \           \"history\": []\n        },\n        {\n            \"id\": \"threat-actor--a05e039d-dae9-51bc-8ed8-3f039001a617\",\n
        \           \"name\": \"UNC3524\",\n            \"merged\": \"2022-09-08T13:26:22.000Z\",\n
        \           \"history\": []\n        },\n        {\n            \"id\": \"threat-actor--68a6ea77-4d7e-5699-93f6-ae1f97d6b399\",\n
        \           \"name\": \"UNC473\",\n            \"merged\": \"2015-04-20T13:44:32.00[...]
