# Copyright 2023 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

interactions:
- request:
    body: null
    headers:
      X-App-Name:
      - MA-TI-Python-Lib-v0.1
    method: GET
    uri: https://api.intelligence.mandiant.com/v4/malware/malware--bc1aac4f-7b86-537d-8e37-840218794b8e
  response:
    body:
      string: '{"actors":[{"id":"threat-actor--90283f7b-0ec6-5884-969d-748698b3ab49","name":"UNC2386","country_name":"Russia","iso2":"RU","last_updated":"2022-11-08T08:31:36Z"},{"id":"threat-actor--e6c0f218-f881-5755-aa0e-07f2b26f9ec6","name":"UNC2589","country_name":"Russia","iso2":"RU","last_updated":"2023-01-19T21:53:46Z"}],"audience":[{"name":"intel_fusion","license":"INTEL_RBI_FUS"},{"name":"intel_cc","license":"INTEL_CYB_CRIME"},{"name":"intel_oper","license":"INTEL_RBI_OPS"},{"name":"tlp_marking","license":"amber"}],"description":"SMOKELOADER
        is a downloader that retrieves additional payloads via HTTP. Retrieved payloads
        are mapped into memory and may include plugins that expand SMOKELOADER''s
        functionality. Capabilities added via plugins include keylogging, credential
        theft, and DDoS. Retrieved payloads may also include additional malware such
        as AZORULT, FORMBOOK, REMCOS, URSNIF, SILENTNIGHT, TRICKBOT, and SYSTEMBC.","detections":["Trojan.SmokeLoader
        (Trellix)","(http_inspect) unknown Content-Encoding used (Cisco Firepower)","(http_inspect)
        not HTTP traffic (Cisco Firepower)","ET POLICY exe download via HTTP - Informational
        (ET OPEN)","MaliciousSSLCert.SmokeLoader","ET DNS Standard query response,
        Name Error (ET OPEN)","ET INFO SUSPICIOUS Dotted Quad Host MZ Response (ET
        OPEN)","ET TROJAN VMProtect Packed Binary Inbound via HTTP - Likely Hostile
        (ET OPEN)","FILE-EXECUTABLE Portable Executable binary file magic detected
        (Cisco Firepower)","ET POLICY PE EXE or DLL Windows file download HTTP (ET
        OPEN)","trojan/Win32 EXE.kryptik.azvgx (Palo Alto Networks)","Trojan.Dofoil","Win.Dropper.Glupteba-9755051-0
        (ClamAV)","Malicious.SSL.Smokeloader","Trojan.Sharik","ET INFO Packed Executable
        Download (ET OPEN)","Downloader.SmokeLoader","Trojan.SmokeLoader","Trojan.Downloader.Dofoil","ET
        TROJAN UPX compressed file download possible malware (ET OPEN)","Trojan.Win.SmokeLoader","ET
        SHELLCODE Possible TCP x86 JMP to CALL Shellcode Detected (ET OPEN)"],"id":"malware--bc1aac4f-7b86-537d-8e37-840218794b8e","industries":[{"id":"identity--74d68d1c-7ad3-5eb5-a594-5519c1ee2661","name":"Education"},{"id":"identity--c5e884ab-d62f-5632-9fc8-3ab3fb752598","name":"Energy
        \u0026 Utilities"},{"id":"identity--eaaa8a1a-0db8-5c22-a895-3b0327e3eff1","name":"Financial
        Services"},{"id":"identity--8d0881d8-d199-5e5a-bef9-be3ca6bb8f0d","name":"Governments"},{"id":"identity--cacd2de0-d89e-54e3-a8af-88a41d312a12","name":"Healthcare"},{"id":"identity--5a90f5ac-2ac0-5cbe-ae22-eb07a4da67c9","name":"Hospitality"},{"id":"identity--8b245566-834c-5039-95ae-f6a4ffc03b44","name":"Legal
        \u0026 Professional Services"},{"id":"identity--e0fc24e1-1f79-556a-b8f4-b56735ccf42b","name":"Manufacturing"},{"id":"identity--60c05066-3b67-5783-b32e-4104b86d06c1","name":"Oil
        \u0026 Gas"},{"id":"identity--c9000eb7-82e8-5859-9845-17c4760400cb","name":"Pharmaceuticals"},{"id":"identity--c09ecb05-79d5-5a2b-b47f-65c1092a3a56","name":"Retail"},{"id":"identity--02142d73-54af-5e18-a4f5-70b194ca002b","name":"Technology"},{"id":"identity--93209517-b16c-5893-b55e-b7edc9b478d0","name":"Telecommunications"},{"id":"identity--8768c9d0-830d-5c94-88d1-1506fef6c838","name":"Transportation"}],"inherently_malicious":1,"last_activity_time":"2023-01-27T02:20:01.000Z","last_updated":"2023-01-27T02:20:01.000Z","malware":[{"id":"malware--cc1d563a-cf32-55e8-bae3-cbdf8266c794","name":"AMADEY"},{"id":"malware--448e822d-8496-5021-88cb-599062f74176","name":"BEACON"},{"id":"malware--4f2f08e8-2311-52c5-86f7-c88a0b48b7bc","name":"BEAMHTTP"},{"id":"malware--f0aa164e-9d88-58b5-a2fa-fa3125e03896","name":"DANABOT"},{"id":"malware--daec61d9-86aa-582d-935c-3a7cf571e92a","name":"DUSTCART"},{"id":"malware--27bf2b11-0bd3-5e42-8f5c-ccf5d5d781fb","name":"GAZAVAT"},{"id":"malware--96289be2-7b2a-5c40-be9b-d0141345d028","name":"GCLEA[...]
- request:
    body: null
    headers:
      X-App-Name:
      - MA-TI-Python-Lib-v0.1
    method: GET
    uri: https://api.intelligence.mandiant.com/v4/malware/malware--bc1aac4f-7b86-537d-8e37-840218794b8e/attack-pattern
  response:
    body:
      string: "{\n    \"malware\": [\n        {\n            \"id\": \"malware--bc1aac4f-7b86-537d-8e37-840218794b8e\",\n
        \           \"name\": \"SMOKELOADER\",\n            \"type\": \"malware-mitre\",\n
        \           \"attack-patterns\": {\n                \"Impact\": [\n                    {\n
        \                       \"id\": \"attack-pattern--d45a3d09-b3cf-48f4-9f0f-f521ee5cb05c\"\n
        \                   },\n                    {\n                        \"id\":
        \"attack-pattern--ff73aa03-0090-4464-83ac-f89e233c02bc\"\n                    }\n
        \               ],\n                \"Persistence\": [\n                    {\n
        \                       \"id\": \"attack-pattern--35dd844a-b219-4e2b-a6bb-efa9a75995a9\",\n
        \                       \"sub_techniques\": [\n                            {\n
        \                               \"id\": \"attack-pattern--005a06c6-14bf-4118-afa0-ebcd8aebb0c9\"\n
        \                           }\n                        ]\n                    },\n
        \                   {\n                        \"id\": \"attack-pattern--b6301b64-ef57-4cce-bb0b-77026f14a8db\",\n
        \                       \"sub_techniques\": [\n                            {\n
        \                               \"id\": \"attack-pattern--cc89ecbd-3d33-4a41-bcca-001e702d18fd\"\n
        \                           }\n                        ]\n                    },\n
        \                   {\n                        \"id\": \"attack-pattern--1ecb2399-e8ba-4f6b-8ba7-5c27d49405cf\",\n
        \                       \"sub_techniques\": [\n                            {\n
        \                               \"id\": \"attack-pattern--9efb1ea7-c37b-4595-9640-b7680cd84279\"\n
        \                           },\n                            {\n                                \"id\":
        \"attack-pattern--4ab929c6-ee2d-4fb5-aab4-b14be2ed7179\"\n                            }\n
        \                       ]\n                    }\n                ],\n                \"Execution\":
        [\n                    {\n                        \"id\": \"attack-pattern--7385dfaf-6886-4229-9ecd-6fd678040830\"\n
        \                   },\n                    {\n                        \"id\":
        \"attack-pattern--35dd844a-b219-4e2b-a6bb-efa9a75995a9\",\n                        \"sub_techniques\":
        [\n                            {\n                                \"id\":
        \"attack-pattern--005a06c6-14bf-4118-afa0-ebcd8aebb0c9\"\n                            [...]
- request:
    body: null
    headers:
      X-App-Name:
      - MA-TI-Python-Lib-v0.1
    method: GET
    uri: https://api.intelligence.mandiant.com/v4/malware/malware--bc1aac4f-7b86-537d-8e37-840218794b8e/campaigns
  response:
    body:
      string: '{"campaigns":[],"total_count":0,"id":"malware--bc1aac4f-7b86-537d-8e37-840218794b8e","name":"SMOKELOADER","last_transformed":"2023-01-27T02:27:32.566Z","last_activity_time":"2023-01-27T02:20:01Z"}

        '
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      X-App-Name:
      - MA-TI-Python-Lib-v0.1
    method: GET
    uri: https://api.intelligence.mandiant.com/v4/malware/malware--bc1aac4f-7b86-537d-8e37-840218794b8e/reports
  response:
    body:
      string: "{\n    \"reports\": [\n        {\n            \"id\": \"report--6324eae3-0e11-5c7d-a113-0f121472ddd3\",\n
        \           \"report_id\": \"19-00013267\",\n            \"title\": \"Modified
        Version of SmokeLoader Indicates Actor Is Bypassing Payments to the Vendor\",\n
        \           \"published_date\": \"August 09, 2019 02:02:41 PM\",\n            \"report_type\":
        \"Event Coverage/Implication\",\n            \"version\": \"1.0\",\n            \"audience\":
        [\n                {\n                    \"name\": \"cyber crime\",\n                    \"license\":
        \"INTEL_CYB_CRIME\"\n                },\n                {\n                    \"name\":
        \"fusion\",\n                    \"license\": \"INTEL_RBI_FUS\"\n                }\n
        \           ]\n        },\n        {\n            \"id\": \"report--bdba4d4a-6159-5b79-bd01-f78aefbfddf4\",\n
        \           \"report_id\": \"16-000[...]
