# Copyright 2023 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

interactions:
- request:
    body: null
    headers:
      X-App-Name:
      - MA-Python-Lib-v0.1
    method: GET
    uri: https://api.intelligence.mandiant.com/v4/malware?limit=1&offset=0
  response:
    body:
      string: '{"malware":[{"last_updated":"2022-11-05T10:42:18.000Z","name":"008S","description":"The
        008S malware family is modular. Upon initial infection, 008S will call out
        to the configured C\u0026C to determine what plugins should be downloaded
        and loaded into the malicious process. The additional plugins extend functionality
        of the malware.","id":"malware--81f821d1-4ec9-534d-8dc7-53da47e5074a","inherently_malicious":1,"intel_free":false,"has_yara":true,"aliases":[{"name":"008s"},{"name":"Ddkong
        (Palo Alto Networks)"}]}],"total_count":4705}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      X-App-Name:
      - MA-Python-Lib-v0.1
    method: GET
    uri: https://api.intelligence.mandiant.com/v4/malware?limit=1&offset=2
  response:
    body:
      string: '{"malware":[]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
