# Copyright 2023 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

interactions:
- request:
    body: null
    headers:
      X-App-Name:
      - MA-Python-Lib-v0.1
    method: GET
    uri: https://api.intelligence.mandiant.com/v4/malware/malware--bc1aac4f-7b86-537d-8e37-840218794b8e
  response:
    body:
      string: '{"actors":[{"id":"threat-actor--90283f7b-0ec6-5884-969d-748698b3ab49","name":"UNC2386","country_name":"Russia","iso2":"RU","last_updated":"2022-11-08T08:31:36Z"},{"id":"threat-actor--e6c0f218-f881-5755-aa0e-07f2b26f9ec6","name":"UNC2589","country_name":"Russia","iso2":"RU","last_updated":"2022-11-08T08:25:32Z"}],"audience":[{"name":"intel_fusion","license":"INTEL_RBI_FUS"},{"name":"intel_cc","license":"INTEL_CYB_CRIME"},{"name":"intel_oper","license":"INTEL_RBI_OPS"},{"name":"tlp_marking","license":"amber"}],"description":"SMOKELOADER
        is a downloader that retrieves additional payloads via HTTP. Retrieved payloads
        are mapped into memory and may include plugins that expand SMOKELOADER''s
        functionality. Capabilities added via plugins include keylogging, credential
        theft, and DDoS. Retrieved payloads may also include additional malware such
        as AZORULT, FORMBOOK, REMCOS, URSNIF, SILENTNIGHT, TRICKBOT, and SYSTEMBC.","detections":["Trojan.SmokeLoader
        (Trellix)","(http_inspect) unknown Content-Encoding used (Cisco Firepower)","(http_inspect)
        not HTTP traffic (Cisco Firepower)","ET POLICY exe download via HTTP - Informational
        (ET OPEN)","MaliciousSSLCert.SmokeLoader","ET DNS Standard query response,
        Name Error (ET OPEN)","ET INFO SUSPICIOUS Dotted Quad Host MZ Response (ET
        OPEN)","ET TROJAN VMProtect Packed Binary Inbound via HTTP - Likely Hostile
        (ET OPEN)","FILE-EXECUTABLE Portable Executable binary file magic detected
        (Cisco Firepower)","ET POLICY PE EXE or DLL Windows file download HTTP (ET
        OPEN)","trojan/Win32 EXE.kryptik.azvgx (Palo Alto Networks)","Trojan.Dofoil","Win.Dropper.Glupteba-9755051-0
        (ClamAV)","Malicious.SSL.Smokeloader","Trojan.Sharik","ET INFO Packed Executable
        Download (ET OPEN)","Downloader.SmokeLoader","Trojan.SmokeLoader","Trojan.Downloader.Dofoil","ET
        TROJAN UPX compressed file download possible malware (ET OPEN)","Trojan.Win.SmokeLoader","ET
        SHELLCODE Possible TCP x86 JMP to CALL Shellcode Detected (ET OPEN)"],"id":"malware--bc1aac4f-7b86-537d-8e37-840218794b8e","industries":[{"id":"identity--74d68d1c-7ad3-5eb5-a594-5519c1ee2661","name":"Education"},{"id":"identity--c5e884ab-d62f-5632-9fc8-3ab3fb752598","name":"Energy
        \u0026 Utilities"},{"id":"identity--eaaa8a1a-0db8-5c22-a895-3b0327e3eff1","name":"Financial
        Services"},{"id":"identity--8d0881d8-d199-5e5a-bef9-be3ca6bb8f0d","name":"Governments"},{"id":"identity--cacd2de0-d89e-54e3-a8af-88a41d312a12","name":"Healthcare"},{"id":"identity--5a90f5ac-2ac0-5cbe-ae22-eb07a4da67c9","name":"Hospitality"},{"id":"identity--8b245566-834c-5039-95ae-f6a4ffc03b44","name":"Legal
        \u0026 Professional Services"},{"id":"identity--e0fc24e1-1f79-556a-b8f4-b56735ccf42b","name":"Manufacturing"},{"id":"identity--60c05066-3b67-5783-b32e-4104b86d06c1","name":"Oil
        \u0026 Gas"},{"id":"identity--c09ecb05-79d5-5a2b-b47f-65c1092a3a56","name":"Retail"},{"id":"identity--02142d73-54af-5e18-a4f5-70b194ca002b","name":"Technology"},{"id":"identity--93209517-b16c-5893-b55e-b7edc9b478d0","name":"Telecommunications"},{"id":"identity--8768c9d0-830d-5c94-88d1-1506fef6c838","name":"Transportation"}],"inherently_malicious":1,"last_activity_time":"2022-11-05T12:21:37.000Z","last_updated":"2022-11-05T12:21:37.000Z","malware":[{"id":"malware--cc1d563a-cf32-55e8-bae3-cbdf8266c794","name":"AMADEY"},{"id":"malware--4f2f08e8-2311-52c5-86f7-c88a0b48b7bc","name":"BEAMHTTP"},{"id":"malware--f0aa164e-9d88-58b5-a2fa-fa3125e03896","name":"DANABOT"},{"id":"malware--daec61d9-86aa-582d-935c-3a7cf571e92a","name":"DUSTCART"},{"id":"malware--27bf2b11-0bd3-5e42-8f5c-ccf5d5d781fb","name":"GAZAVAT"},{"id":"malware--96289be2-7b2a-5c40-be9b-d0141345d028","name":"GCLEANER"},{"id":"malware--73b2f8b4-2892-5a25-a813-29fa3636b117","name":"NANOCORE"},{"id":"malware--c7305956-b7f1-5457-95c6-4a2d2303c61e","name":"PRIVATELOADER"},{"id":"malware--99c2835d-ad29-582f-a904-3c879673bec7","name":"RACCOON"},{"id":"malware--37db201c-7458-5b54-a0a8-f464f6168286","name":"RECORDSTEALER"},{"id":"malware--10f8b689-3e89-5fa8-80fa-69d90617f034","name":"REDLINESTEALER"},{"id":"malware--45e079ad-84da-59ae-bf38-3466c3a1ca41","name":"REMCOS"},{"id":"malware--8c23b4d9-2f79-5c87-b640-ba3c2e4d14cc","name":"SOCELARS"},{"id":"malware--ea812c75-47d7-58da-a041-b73b3bd71184","name":"STEPSTOOL"},{"id":"malware--7970e82b-0e73-5a17-85fe-765911e25035","name":"STOP"},{"id":"malware--17784955-af55-5462-877f-feaba0c8d80a","name":"SYSTEMBC"},{"id":"malware--b2bd3b57-8820-5c18-a383-990cc3d97c72","name":"URSNIF"},{"id":"malware--33210862-613c-5089-a565-c9fb1cc4adfc","name":"VIDAR"},{"id":"malware--8ff0f08c-2599-5eb2-be55-e5c60e0eb01f","name":"WARZONE"}],"name":"SMOKELOADER","operating_systems":["Windows"],"type":"malware","yara":[],"is_publishable":true,"intel_free":false,"counts":{"reports":0,"capabilities":56,"malware":19,"actors":2,"detections":22,"cve":0,"aliases":4,"industries":13,"attack_patterns":62},"aliases":[{"name":"Dofoil
        (Microsoft)"},{"name":"Mokes (Kaspersky)"},{"name":"Sharik (Internet)"},{"name":"Smokeloader
        (Proofpoint)"}],"capabilities":[{"name":"Allocates process memory","description":"Capable
        of allocating user process memory. "},{"name":"Anti-VM: QEMU","description":"Capable
        of detecting or evading QEMU"},{"name":"Anti-VM: Sandboxie","description":"Capable
        of detecting or evading Sandboxie virtualization software."},{"name":"Anti-VM:[...]
