# Copyright 2023 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.intelligence.mandiant.com/token
  response:
    body:
      string: '{"access_token": "FAKE_TOKEN","token_type":"Bearer","expires_in":24178}

        '
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      X-App-Name:
      - MA-TI-Python-Lib-v0.1
    method: GET
    uri: https://api.intelligence.mandiant.com/v4/indicator/fqdn--7baea406-cc1b-53f9-b1b2-ea4ad2f56dc1?include_campaigns=True&include_reports=True
  response:
    body:
      string: '{"id":"fqdn--7baea406-cc1b-53f9-b1b2-ea4ad2f56dc1","mscore":0,"type":"fqdn","value":"google.com","is_publishable":true,"sources":[{"first_seen":"2021-09-23T23:02:11.244+0000","last_seen":"2021-10-10T22:40:25.469+0000","osint":false,"category":[],"source_name":"Mandiant"},{"first_seen":"2021-12-14T04:32:32.348+0000","last_seen":"2023-01-27T00:21:31.178+0000","osint":true,"category":[],"source_name":"dtm.blackbeard"},{"first_seen":"2020-01-30T15:49:31.326+0000","last_seen":"2020-01-30T15:49:31.326+0000","osint":false,"category":[],"source_name":"Mandiant"},{"first_seen":"2021-07-02T15:17:26.283+0000","last_seen":"2021-08-06T19:18:00.231+0000","osint":false,"category":["control-server","botnet"],"source_name":"Mandiant"},{"first_seen":"2020-08-30T15:42:[...]
[...]
- request:
    body: null
    headers:
      X-App-Name:
      - MA-TI-Python-Lib-v0.1
    method: GET
    uri: https://api.intelligence.mandiant.com/v4/indicator/fqdn--7baea406-cc1b-53f9-b1b2-ea4ad2f56dc1/reports
  response:
    body:
      string: '{"id":"fqdn--7baea406-cc1b-53f9-b1b2-ea4ad2f56dc1","mscore":0,"type":"fqdn","value":"google.com","is_publishable":true,"first_seen":"2014-09-01T21:39:23Z","last_seen":"2023-01-27T00:21:31Z","is_customer_releasable":true,"reports":[]}

        '
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      X-App-Name:
      - MA-TI-Python-Lib-v0.1
    method: GET
    uri: https://api.intelligence.mandiant.com/v4/indicator/md5--734cb023-91b0-504c-b10e-3756eb3cd9b3?include_campaigns=True&include_reports=True
  response:
    body:
      string: '{"id":"md5--734cb023-91b0-504c-b10e-3756eb3cd9b3","mscore":100,"type":"md5","value":"27ef45406179b144f5fabf4b2a2f4e82","is_publishable":true,"sources":[{"first_seen":"2022-05-11T14:05:29.000+0000","last_seen":"2022-05-11T14:05:29.000+0000","osint":false,"category":[],"source_name":"Mandiant"},{"first_seen":"2022-08-16T20:04:55.000+0000","last_seen":"2022-08-16T20:04:55.000+0000","osint":false,"category":[],"source_name":"Mandiant"},{"first_seen":"2022-04-21T19:33:56.000+0000","last_seen":"2022-05-04T20:30:58.000+0000","osint":false,"category":[],"source_name":"Mandiant"}],"associated_hashes":[{"id":"md5--734cb023-91b0-504c-b10e-3756eb3cd9b3","type":"md5","value":"27ef45406179b144f5fabf4b2a2f4e82"},{"id":"sha1--66d75fca-71fa-5b02-8bcd-0fc3275091ea","type":"sha1","value":"0d1e930b706a9591ab3bb3c8dea1490856c02d77"},{"id":"sha256--97331c82-80b8-50f0-bcff-91c506700fb9","type":"sha256","value":"5723060de0b77c00fadddf73711ff221d83ad915a13e93b3dedf9be8f0ad80eb"}],"attributed_associations":[{"id":"threat-actor--7a39953e-0dae-569a-9d49-d52a4a8865b1","name":"APT29","type":"threat-actor"},{"id":"malware--81b6c216-1690-5733-a063-ff074e641709","name":"BEATDROP","type":"malware"}],"misp":{"akamai":false,"alexa":false,"alexa_1M":false,"amazon-aws":false,"apple":false,"automated-malware-analysis":false,"bank-website":false,"cisco_1M":false,"cisco_top1000":false,"cisco_top10k":false,"cisco_top20k":false,"cisco_top5k":false,"cloudflare":false,"common-contact-emails":false,"common-ioc-false-positive":false,"covid":false,"covid-19-cyber-threat-coalition-whitelist":false,"covid-19-krassi-whitelist":false,"crl-hostname":false,"crl-ip":false,"dax30":false,"disposable-email":false,"dynamic-dns":false,"eicar.com":false,"empty-hashes":false,"fastly":false,"google":false,"google-gcp":false,"google-gmail-sending-ips":false,"googlebot":false,"ipv6-linklocal":false,"majestic_million":false,"majestic_million_1M":false,"microsoft":false,"microsoft-attack-simulator":false,"microsoft-azure":false,"microsoft-azure-china":false,"microsoft-azure-germany":false,"microsoft-azure-us-gov":false,"microsoft-office365":false,"microsoft-office365-cn":false,"microsoft-office365-ip":false,"microsoft-win10-connection-endpoints":false,"moz-top500":false,"mozilla-CA":false,"mozilla-IntermediateCA":false,"multicast":false,"nioc-filehash":false,"ovh-cluster":false,"phone_numbers":false,"public-dns-hostname":false,"public-dns-v4":false,"public-dns-v6":false,"rfc1918":false,"rfc3849":false,"rfc5735":false,"rfc6598":false,"rfc6761":false,"second-level-tlds":false,"security-provider-blogpost":false,"sinkholes":false,"smtp-receiving-ips":false,"smtp-sending-ips":false,"stackpath":false,"tenable-cloud-ipv4":false,"tenable-cloud-ipv6":false,"ti-falsepositives":false,"tlds":false,"tranco":false,"tranco10k":false,"university_domains":false,"url-shortener":false,"vpn-ipv4":false,"vpn-ipv6":false,"whats-my-ip":false,"wikimedia":false},"last_updated":"2022-10-11T08:41:14.683Z","first_seen":"2022-04-21T19:33:56.000Z","last_seen":"2022-08-16T20:04:55.000Z","campaigns":[{"id":"campaign--8d6e7115-c792-5ded-b0a9-81d10027a943","name":"CAMP.22.005","title":"APT29
        Conducts Phishing Campaign Targeting Multiple Federal Government Global/International
        Affairs Offices"}],"reports":[]}

        '
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      X-App-Name:
      - MA-TI-Python-Lib-v0.1
    method: GET
    uri: https://api.intelligence.mandiant.com/v4/indicator/md5--734cb023-91b0-504c-b10e-3756eb3cd9b3/reports
  response:
    body:
      string: '{"id":"md5--734cb023-91b0-504c-b10e-3756eb3cd9b3","mscore":100,"type":"md5","value":"27ef45406179b144f5fabf4b2a2f4e82","is_publishable":true,"first_seen":"2022-04-21T19:33:56Z","last_seen":"2022-08-16T20:04:55Z","is_customer_releasable":true,"reports":[{"id":"report--2781217d-3b75-5e22-b3f7-8db3e09d2b70","report_id":"22-00011950","type":"Event
        Coverage/Implication","title":"APT29 Targets European Diplomatic Entities
        with ROOTSAW Dropper and New BEATDROP Variants Using Dropbox and Slack for
        C\u0026C","published_date":"2022-05-11T19:53:16.583Z","audience":["cyber espionage","fusion"]}]}

        '
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      X-App-Name:
      - MA-TI-Python-Lib-v0.1
    method: GET
    uri: https://api.intelligence.mandiant.com/v4/indicator/url--431bfcd3-a8a5-5103-9ad7-ac7f05891875?include_campaigns=True&include_reports=True
  response:
    body:
      string: '{"id":"url--431bfcd3-a8a5-5103-9ad7-ac7f05891875","mscore":0,"type":"url","value":"https://google.com","is_publishable":true,"sources":[{"first_seen":"2022-06-04T12:59:02.280+0000","last_seen":"2023-01-19T13:32:26.[...]
[...]
- request:
    body: null
    headers:
      X-App-Name:
      - MA-TI-Python-Lib-v0.1
    method: GET
    uri: https://api.intelligence.mandiant.com/v4/indicator/url--431bfcd3-a8a5-5103-9ad7-ac7f05891875/reports
  response:
    body:
      string: '{"id":"url--431bfcd3-a8a5-5103-9ad7-ac7f05891875","mscore":0,"type":"url","value":"https://google.com","is_publishable":true,"first_seen":"2021-06-19T09:13:28Z","last_seen":"2023-01-27T07:33:56Z","is_customer_releasable":true,"reports":[]}

        '
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      X-App-Name:
      - MA-TI-Python-Lib-v0.1
    method: GET
    uri: https://api.intelligence.mandiant.com/v4/indicator/ipv4--ae71927b-78e2-5659-8576-af0dc232b3e9?include_campaigns=True&include_reports=True
  response:
    body:
      string: '{"id":"ipv4--ae71927b-78e2-5659-8576-af0dc232b3e9","mscore":0,"type":"ipv4","value":"8.8.8.8","is_publishable":true,"sources":[{"first_seen":"2022-09-06T15:17:26.914+0000","last_seen":"2023-01-24T15:00:42.921+0000[...]
[...]
- request:
    body: null
    headers:
      X-App-Name:
      - MA-TI-Python-Lib-v0.1
    method: GET
    uri: https://api.intelligence.mandiant.com/v4/indicator/ipv4--ae71927b-78e2-5659-8576-af0dc232b3e9/reports
  response:
    body:
      string: "{\"id\":\"ipv4--ae71927b-78e2-5659-8576-af0dc232b3e9\",\"mscore\":0,\"type\":\"ipv4\",\"value\":\"8.8.8.8\",\"is_publishable\":true,\"first_seen\":\"2014-09-01T21:39:51Z\",\"last_seen\":\"2023-01-27T15:01:54Z\",\"is_customer_releasable\":true,\"repo[...]
