# Copyright 2023 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.intelligence.mandiant.com/token
  response:
    body:
      string: '{"access_token": "FAKE_TOKEN","token_type":"Bearer","expires_in":23942}

        '
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      X-App-Name:
      - MA-TI-Python-Lib-v0.1
    method: GET
    uri: https://api.intelligence.mandiant.com/v4/indicator/fqdn--7baea406-cc1b-53f9-b1b2-ea4ad2f56dc1?include_campaigns=True&include_reports=True
  response:
    body:
      string: '{"id":"fqdn--7baea406-cc1b-53f9-b1b2-ea4ad2f56dc1","mscore":0,"type":"fqdn","value":"google.com","is_publishable":true,"sources":[{"first_seen":"2021-09-23T23:02:11.244+0000","last_seen":"2021-10-10T22:40:25.469+0000","osint":false,"category":[],"source_name":"Mandiant"},{"first_seen":"2021-12-14T04:32:32.348+0000","last_seen":"2023-01-27T00:21:31.178+0000","osint":true,"category":[],"source_name":"dtm.blackbeard"},{"first_seen":"2020-01-30T15:49:31.326+0000","last_seen":"2020-01-30T15:49:31.326+0000","osint":false,"category":[],"source_name":"Mandiant"},{"first_seen":"2021-07-02T15:17:26.283+0000","last_seen":"2021-08-06T19:18:00.231+0000","osint":false,"category":["control-server","botnet"],"source_name":"Mandiant"},{"first_seen":"2020-08-30T15:42:[...]
[...]
- request:
    body: null
    headers:
      X-App-Name:
      - MA-TI-Python-Lib-v0.1
    method: GET
    uri: https://api.intelligence.mandiant.com/v4/indicator/md5--e54a4f18-5d4d-56cd-8a41-a96938e9779f?include_campaigns=True&include_reports=True
  response:
    body:
      string: '{"id":"md5--e54a4f18-5d4d-56cd-8a41-a96938e9779f","mscore":100,"type":"md5","value":"fe09cf6d3a358305f8c2f687b6f6da02","is_publishable":true,"sources":[{"first_seen":"2022-01-13T23:01:27.000+0000","last_seen":"2022-08-12T22:05:41.000+0000","osint":false,"category":[],"source_name":"Mandiant"}],"associated_hashes":[{"id":"md5--e54a4f18-5d4d-56cd-8a41-a96938e9779f","type":"md5","value":"fe09cf6d3a358305f8c2f687b6f6da02"},{"id":"sha1--ad083435-4612-5b45-811a-157a77f65bdf","type":"sha1","value":"30d64987a6903a9995ea74fe268689811b14b81b"},{"id":"sha256--c17aca6a-7a35-5265-93f6-f6b5537cef7e","type":"sha256","value":"af95c55f3d09ee6c691afc248e8d4a9c07d4f304449c6f609bf9c4e4c202b070"}],"attributed_associations":[{"id":"malware--ac3b8a90-57ad-5535-a672-0215cfa44d19","name":"OXEEYE","type":"malware"}],"misp":{"akamai":false,"alexa":false,"alexa_1M":false,"amazon-aws":false,"apple":false,"automated-malware-analysis":false,"bank-website":false,"cisco_1M":false,"cisco_top1000":false,"cisco_top10k":false,"cisco_top20k":false,"cisco_top5k":false,"cloudflare":false,"common-contact-emails":false,"common-ioc-false-positive":false,"covid":false,"covid-19-cyber-threat-coalition-whitelist":false,"covid-19-krassi-whitelist":false,"crl-hostname":false,"crl-ip":false,"dax30":false,"disposable-email":false,"dynamic-dns":false,"eicar.com":false,"empty-hashes":false,"fastly":false,"google":false,"google-gcp":false,"google-gmail-sending-ips":false,"googlebot":false,"ipv6-linklocal":false,"majestic_million":false,"majestic_million_1M":false,"microsoft":false,"microsoft-attack-simulator":false,"microsoft-azure":false,"microsoft-azure-china":false,"microsoft-azure-germany":false,"microsoft-azure-us-gov":false,"microsoft-office365":false,"microsoft-office365-cn":false,"microsoft-office365-ip":false,"microsoft-win10-connection-endpoints":false,"moz-top500":false,"mozilla-CA":false,"mozilla-IntermediateCA":false,"multicast":false,"nioc-filehash":false,"ovh-cluster":false,"phone_numbers":false,"public-dns-hostname":false,"public-dns-v4":false,"public-dns-v6":false,"rfc1918":false,"rfc3849":false,"rfc5735":false,"rfc6598":false,"rfc6761":false,"second-level-tlds":false,"security-provider-blogpost":false,"sinkholes":false,"smtp-receiving-ips":false,"smtp-sending-ips":false,"stackpath":false,"tenable-cloud-ipv4":false,"tenable-cloud-ipv6":false,"ti-falsepositives":false,"tlds":false,"tranco":false,"tranco10k":false,"university_domains":false,"url-shortener":false,"vpn-ipv4":false,"vpn-ipv6":false,"whats-my-ip":false,"wikimedia":false},"last_updated":"2022-10-19T00:37:24.612Z","first_seen":"2022-01-13T23:01:27.000Z","last_seen":"2022-08-12T22:05:41.000Z","campaigns":[{"id":"campaign--bff76355-4d90-5f1f-b402-565a8fb2ac61","name":"GLOBAL.21.005","title":"Exploitation
        of CVE-2021-44228 (aka \"Log4Shell\") in Various Products"}],"campaigns":[],"reports":[]}

        '
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      X-App-Name:
      - MA-TI-Python-Lib-v0.1
    method: GET
    uri: https://api.intelligence.mandiant.com/v4/indicator/url--431bfcd3-a8a5-5103-9ad7-ac7f05891875?include_campaigns=True&include_reports=True
  response:
    body:
      string: '{"id":"url--431bfcd3-a8a5-5103-9ad7-ac7f05891875","mscore":0,"type":"url","value":"https://google.com","is_publishable":true,"sources":[{"first_seen":"2022-06-04T12:59:02.280+0000","last_seen":"2023-01-19T13:32:26.[...]
[...]
- request:
    body: null
    headers:
      X-App-Name:
      - MA-TI-Python-Lib-v0.1
    method: GET
    uri: https://api.intelligence.mandiant.com/v4/indicator/ipv4--ae71927b-78e2-5659-8576-af0dc232b3e9?include_campaigns=True&include_reports=True
  response:
    body:
      string: '{"id":"ipv4--ae71927b-78e2-5659-8576-af0dc232b3e9","mscore":0,"type":"ipv4","value":"8.8.8.8","is_publishable":true,"sources":[{"first_seen":"2022-09-06T15:17:26.914+0000","last_seen":"2023-01-24T15:00:42.921+0000[...]
