# Copyright 2023 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

interactions:
- request:
    body: null
    headers:
      X-App-Name:
      - MA-TI-Python-Lib-v0.1
    method: GET
    uri: https://api.intelligence.mandiant.com/v4/dtm/docs/web_content_publish/21ecacbe-18b7-464f-a38a-f3c5d0ca4bd6/topics
  response:
    body:
      string: '{"topics":[{"__id":"a1df34e6-7ec7-4513-81bc-52885ac47576","confidence":100,"entity_locations":[{"element_path":"text","offsets":[144284,144391]}],"extractor":"analysis-pipeline.preprocessor","extractor_version":"2-0-0","type":"url","value":"https://www.trustwave.com/en-us/resources/blogs/spiderlabs-blog/blackbyte-ransomware-pt-1-in-depth-analysis"},{"__id":"da6b1fdc-6556-4ea6-9400-7bc50f2e859c","confidence":100,"entity_locations":[{"element_path":"text","offsets":[286132,286151]}],"extractor":"analysis-pipeline.preprocessor","extractor_version":"2-0-0","type":"url","value":"https://www.wwfc.ca"},{"__id":"7b86c90c-dcf9-4b01-97d3-4ce55b5b8816","confidence":100,"entity_locations":[{"element_path":"text","offsets":[144516,144629]}],"e[...]
