# Copyright 2023 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

interactions:
- request:
    body: '{"query": "test"}'
    headers:
      Content-Type:
      - application/json
      X-App-Name:
      - MA-TI-Python-Lib-v0.1
    method: POST
    uri: https://api.intelligence.mandiant.com/v4/dtm/docs/search?size=26&sanitize=False
  response:
    body:
      string: "{\"timed_out\":false,\"total_docs\":200,\"docs\":[{\"__id\":\"186f76a4-bc09-4bd8-a5f7-ef8d52064a19\",\"__type\":\"message\",\"source\":\"vanellope\",\"timestamp\":\"2023-06-05T21:13:31Z\",\"body\":\"ALL
        NEW MEMBERS ARE WELCOME\U0001F44BYOU ARE VERY LUCKY IF YOUR ONLINE NOW\U0001F355I\u2019M
        RUNNING A TEST RUN TRANSFER FOR ALL NEW MEMBERS WHO TRYNNA MAKE SOME MONEY
        OUT HERE TO FEED HOME OR NEED BREAD URGENTLY RN NO CAP \U0001F9E2\U0001F3C6
        @Governor_57\u2705\\n\\nCash app Transfer \u24C2\uFE0F\\nPayPal Transfer \u24C2\uFE0F\\nZelle
        Transfer \u24C2\uFE0F\\nSkrill Transfer \u24C2\uFE0F\\nVenom Transfer \u24C2\uFE0F\\n\\n\U0001F525SEND
        \u201CTEST\u201D TO MA DMS SO WE CAN START WITH TEST RUN TO GAIN TRUST\U0001F4AF
        @Governor_57\\n\\nFor test 10$ for 1000$\\n\\n\U0001F4AF20$ for 2400$\u2705\\n\U0001F4AF30$
        for 3200$\u2705\\n\U0001F4AF40$ for 4800$\u2705\\n\U0001F4AF50$ for 6400$\u2705\\n\U0001F4AF60$
        for 7500$\u2705\\n\U0001F4AF70$ for 8500$\u2705\\n\\nNo funny moves. I am
        ready to roll a dice with anyone tryna fuck with me fr and trustworthy to
        trying to bake these bands We gon bake a lot and eat just within a minute
        \\nDM now: @Governor_57\",\"channel\":{\"__type\":\"channel\",\"channel_id\":\"-1001304214341\",\"channel_info\":{\"description\":\"gbp
        king\"},\"messenger\":{\"id\":\"telegram\",\"name\":\"Telegram\"},\"name\":\"gbp.\"},\"classification_labels\":[{\"__id\":\"d19b1f98-96f2-4c21-97c8-498bfb54f075\",\"classifier\":\"classifier-content\",\"confidence\":100,\"element_path\":\"body\",\"label\":\"prose\",\"version\":\"2-0-0\"},{\"__id\":\"22b2e6e2-dbc5-4a1b-b915-6cd2e015d897\",\"classifier\":\"classifier-language\",\"confidence\":66,\"element_path\":\"body\",\"label\":\"en\",\"version\":\"1-0-0\"}],\"entities\":[{\"__id\":\"d9397514-a199-4966-89ff-a2f24ecf5d97\",\"entity_locations\":[{\"element_path\":\"sender.identity.first_name\",\"offsets\":[0,20]}],\"extractor\":\"dtm-ma\",\"extractor_version\":\"0.1.239\",\"type\":\"identity_name\",\"value\":\"FLI\U0001F17F\uFE0F
        G\U0001F17E\uFE0F\u2648\uFE0FERN\U0001F17E\uFE0FR\u2197\uFE0F\U0001F4B2\"},{\"__id\":\"60b25ddd-ace3-49cb-9ead-c20f336d139f\",\"entity_locations\":[{\"element_path\":\"sender.identity.name\",\"offsets\":[0,21]}],\"extractor\":\"dtm-ma\",\"extractor_version\":\"0.1.239\",\"type\":\"identity_name\",\"value\":\"FLI\U0001F17F\uFE0F
        G\U0001F17E\uFE0F\u2648\uFE0FERN\U0001F17E\uFE0FR\u2197\uFE0F\U0001F4B2 \"},{\"__id\":\"4f93bb70-618c-4e17-993a-7cf709d4a18c\",\"ent[...]
