# Copyright 2023 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

interactions:
- request:
    body: null
    headers:
      X-App-Name:
      - MA-TI-Python-Lib-v0.1
    method: GET
    uri: https://api.intelligence.mandiant.com/v4/dtm/docs/web_content_publish/21ecacbe-18b7-464f-a38a-f3c5d0ca4bd6
  response:
    body:
      string: "{\"doc\":{\"__id\":\"21ecacbe-18b7-464f-a38a-f3c5d0ca4bd6\",\"__type\":\"web_content_publish\",\"source\":\"githubmon\",\"timestamp\":\"2023-06-05T13:46:22.100416Z\",\"author\":{\"identity\":{\"name\":\"None
        (github-actions[bot])\"}},\"collection_ts\":\"2023-06-05T13:46:22.100416Z\",\"inet_location\":{\"domain\":\"github.com\",\"url\":\"https://github.com/joshhighet/ransomwatch/blob/98b47f50613d2bdd1075737b8ca6abcad312eda7/docs/profiles.md\"},\"ingested\":\"2023-06-05T13:46:22.100416Z\",\"text\":\"#
        \U0001F426 profiles\\n\\n## marketo\\n\\n_parsing : `disabled`_\\n\\n_`marketplace
        - not a ransomware group, previous clearnet marketo.cloud`_\\n\\n- https://www.digitalshadows.com/blog-and-research/marketo-a-return-to-simple-extortion\\n\\n-
        https://securityaffairs.co/wordpress/121617/cyber-crime/puma-available-marketo.html\\n\\n-
        https://t.me/marketo_leaks\\n\\n- https://t.me/marketocloud\\n\\n| title |
        available | version | last visit | fqdn\\n|---|---|---|---|---|\\n| none |
        False | 2 | 00:00 01/05/2021 | `marketojbwagqnwx.onion` |\\n| none | False
        | 2 | 00:00 01/05/2021 | `g5sbltooh2okkcb2.onion` |\\n| 404 Not Found | False
        | 3 | 08:05 04/10/2021 | `fvki3hj7uxuirxpeop6chgqoczanmebutznt2mkzy6waov[...]
