# Copyright 2023 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

interactions:
- request:
    body: null
    headers:
      X-App-Name:
      - MA-TI-Python-Lib-v0.1
    method: GET
    uri: https://api.intelligence.mandiant.com/v4/dtm/docs/web_content_publish/21ecacbe-18b7-464f-a38a-f3c5d0ca4bd6/labels
  response:
    body:
      string: '{"labels":[{"__id":"dbde06f8-5af7-455b-9bd0-88903deddd13","classifier":"classifier-content","confidence":100,"element_path":"text","label":"structured","version":"2-0-0"},{"__id":"3d2de52c-af1b-4ffe-9354-ad0ed94d6706","classifier":"classifier-type","confidence":100,"element_path":"text","label":"text/plain","version":"2-0-0"}]}

        '
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Api-Proxy:
      - '1'
    status:
      code: 200
      message: OK
version: 1
