# Copyright 2023 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

interactions:
- request:
    body: null
    headers:
      X-App-Name:
      - MA-Python-Lib-v0.1
    method: GET
    uri: https://api.intelligence.mandiant.com/v4/vulnerability/vulnerability--e899a39b-806a-5db5-af54-2a3f71a7087c
  response:
    body:
      string: '{"id":"vulnerability--e899a39b-806a-5db5-af54-2a3f71a7087c","type":"vulnerability","is_publishable":true,"risk_rating":"MEDIUM","analysis":"\u003cp\u003eAn
        attacker could exploit this vulnerability to execute arbitrary code. Limited
        information exists on the actions an attacker would need to take to exploit
        this vulnerability. A failed attempt at exploitation could potentially cause
        a crash of the application, resulting in a denial-of-service condition.\u003cbr
        /\u003e\u003cbr /\u003eMandiant Intelligence considers this a Medium-risk
        vulnerability because of the potential for a remote attacker to execute arbitrary
        code offset by the high exploitation difficulty.\u003c/p\u003e","executive_summary":"\u003cp\u003eA
        path traversal vulnerability exists within the Application Server endpoint
        in Adobe ColdFusion 2021 update 4 and earlier that, when exploited, allows
        a remote attacker to execute arbitrary code. Exploit code is not publicly
        available. Mitigation options include a vendor fix.\u0026nbsp;\u003c/p\u003e","description":"\u003cp\u003eZero
        Day Initiative has provided the following description:\u003c/p\u003e\n\u003cp\u003e\u003cem\u003eThe
        specific flaw exists within the Application Server endpoint, which listens
        on TCP port 8500 by default. The issue results from the lack of proper validation
        of a user-supplied path prior to using it in file operations.\u003c/em\u003e\u003c/p\u003e","exploitation_vectors":["General
        Network Connectivity","Open Port"],"title":"Adobe ColdFusion 2021 Update 4
        Application Server Path Traversal Vulnerability","associated_actors":[],"associated_malware":[],"associated_reports":[{"report_id":"22-00023552","report_type":"Vulnerability
        Report","title":"Adobe ColdFusion 2021 Update 4 Application Server Path Traversal
        Vulnerability","published_date":"2022-10-17T21:32:05.956Z","audience":["vulnerability"]}],"exploitation_consequence":"Code
        Execution","cwe":"Path Traversal","cve_id":"CVE-2022-38418","vulnerable_products":"\u003cp\u003eThe
        following vendors/products have been reported as vulnerable:\u003c/p\u003e\n\u003cul\u003e\n\u003cli\u003eAdobe
        Inc.: ColdFusion 2018 Update 14 and earlier, ColdFusion 2021 update 4 and
        earlier\u003c/li\u003e\n\u003c/ul\u003e","exploitation_state":"No Known","vendor_fix_references":[{"url":"https://helpx.adobe.com/security/products/coldfusion/apsb22-44.html","name":"Adobe
        ColdFusion (APSB22-44) Security Update Information","unique_id":"APSB22-44"}],"date_of_disclosure":"2022-10-11T06:00:00.000Z","observed_in_the_wild":false,"vulnerable_cpes":[{"vendor_name":"adobe","technology_name":"coldfusion_2018
        14","cpe":"cpe:2.3:a:adobe:coldfusion_2018:14:*:*:*:*:*:*:*","cpe_title":"adobe
        coldfusion_2018 14"},{"vendor_name":"adobe","technology_name":"coldfusion_2021
        4","cpe":"cpe:2.3:a:adobe:coldfusion_2021:4:*:*:*:*:*:*:*","cpe_title":"adobe
        coldfusion_2021 4"},{"vendor_name":"adobe","technology_name":"coldfusion_2018
        12","cpe":"cpe:2.3:a:adobe:coldfusion_2018:12:*:*:*:*:*:*:*","cpe_title":"adobe
        coldfusion_2018 12"},{"vendor_name":"adobe","technology_name":"coldfusion_2021
        3","cpe":"cpe:2.3:a:adobe:coldfusion_2021:3:*:*:*:*:*:*:*","cpe_title":"adobe
        coldfusion_2021 3"},{"vendor_name":"adobe","technology_name":"coldfusion_2021
        2","cpe":"cpe:2.3:a:adobe:coldfusion_2021:2:*:*:*:*:*:*:*","cpe_title":"adobe
        coldfusion_2021 2"},{"vendor_name":"adobe","technology_name":"coldfusion_2018
        13","cpe":"cpe:2.3:a:adobe:coldfusion_2018:13:*:*:*:*:*:*:*","cpe_title":"adobe
        coldfusion_2018 13"}],"was_zero_day":false,"workarounds":null,"publish_date":"2022-10-17T21:32:00.000Z","updated_date":"2022-10-17T21:32:00.000Z","last_modified_date":"2022-10-17T21:32:00.000Z","available_mitigation":["Patch"],"sources":[{"source_name":"Adobe,
        Inc.","unique_id":"APSB22-44","source_description":"Security updates available
        for Adobe ColdFusion | APSB22-44","date":"2022-10-11T16:00:00.000Z","url":"https://helpx.adobe.com/security/products/coldfusion/apsb22-44.html","is_vendor_fix":false},{"source_name":"Zero
        Day Initiative","unique_id":"ZDI-22-1434","source_description":"Adobe ColdFusion
        Application Server Directory Traversal Remote Code Execution Vulnerability","date":"2022-10-14T16:00:00.000Z","url":"https://www.zerodayinitiative.com/advisories/ZDI-22-1434/","is_vendor_fix":false}],"exploits":[],"common_vulnerability_scores":{"v2.0":{"access_complexity":"HIGH","access_vector":"NETWORK","authentication":"NONE","availability_impact":"COMPLETE","base_score":7.6,"confidentiality_impact":"COMPLETE","exploitability":"UNPROVEN","integrity_impact":"COMPLETE","remediation_level":"OFFICIAL_FIX","report_confidence":"CONFIRMED","temporal_score":5.6,"vector_string":"AV:N/AC:H/Au:N/C:C/I:C/A:C/E:U/RL:OF/RC:C"}},"audience":["intel_vuln"],"intel_free":false,"affects_ot":false,"aliases":[],"cisa_known_exploited":null,"cpe_ranges":[],"cwe_details":null,"days_to_patch":null,"epss":null,"version_history":[],"workarounds_list":[]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
