# Copyright 2023 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

interactions:
- request:
    body: null
    headers:
      X-App-Name:
      - MA-Python-Lib-v0.1
    method: GET
    uri: https://api.intelligence.mandiant.com/v4/vulnerability?start_epoch=1662870397&limit=2&offset=0&end_epoch=1668565800
  response:
    body:
      string: "{\n    \"total_count\": 5260,\n    \"vulnerability\": [\n        {\n
        \           \"common_vulnerability_scores\": {\n                \"v2.0\":
        {\n                    \"availability_impact\": \"NONE\",\n                    \"temporal_score\":
        3.0,\n                    \"base_score\": 4.0,\n                    \"vector_string\":
        \"AV:N/AC:L/Au:S/C:P/I:N/A:N/E:U/RL:OF/RC:C\",\n                    \"integrity_impact\":
        \"NONE\",\n                    \"report_confidence\": \"CONFIRMED\",\n                    \"confidentiality_impact\":
        \"PARTIAL\",\n                    \"access_vector\": \"NETWORK\",\n                    \"remediation_level\":
        \"OFFICIAL_FIX\",\n                    \"exploitability\": \"UNPROVEN\",\n
        \                   \"access_complexity\": \"LOW\",\n                    \"authentication\":
        \"SINGLE\"\n                }\n            },\n            \"exploitation_state\":
        \"No Known\",\n            \"sources\": [\n                {\n                    \"date\":
        \"2022-11-09T21:00:00.000Z\",\n                    \"unique_id\": \"cisco-sa-fmc-xxe-MzPC4bYd\",\n
        \                   \"source_name\": \"Cisco Systems, Inc.\",\n                    \"url\":
        \"https://tools.cisco.com/security/center/content/CiscoSecurityAdvisory/cisco-sa-fmc-xxe-MzPC4bYd\",\n
        \                   \"source_description\": \"Cisco Firepower Management Center
        Software XML External Entity Injection Vulnerability\"\n                }\n
        \           ],\n            \"risk_rating\": \"LOW\",\n            \"cve_id\":
        \"CVE-2022-20938\",\n            \"observed_in_the_wild\": false,\n            \"description\":
        \"<p>Cisco has provided the following description:</p>\\n<p><em>This vulnerability
        is due to insufficient validation of the XML syntax when importing a module.</em></p>\",\n
        \           \"id\": \"vulnerability--edc6a616-3bf1-5e66-9d0f-61e39ea6e2b6\",\n
        \           \"vulnerable_cpes\": [\n                {\n                    \"cpe_title\":
        \"cisco firepower_management_center 6.6.0\",\n                    \"technology_name\":
        \"firepower_management_center 6.6.0\",\n                    \"vendor_name\":
        \"cisco\",\n                    \"cpe\": \"cpe:2.3:a:cisco:firepower_management_center:6.6.0:*:*:*:*:*:*:*\"\n
        \               },\n                {\n                    \"cpe_title\":
        \"cisco firepower_management_center 6.7.0\",\n                    \"technology_name\":
        \"firepower_management_center 6.7.0\",\n                    \"vendor_name\":
        \"cisco\",\n                    \"cpe\": \"cpe:2.3:a:cisco:firepower_management_center:6.7.0:*:*:*:*:*:*:*\"\n
        \               },\n                {\n [...]
