# Copyright 2023 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

interactions:
- request:
    body: null
    headers:
      X-App-Name:
      - MA-Python-Lib-v0.1
    method: GET
    uri: https://api.intelligence.mandiant.com/v4/vulnerability?start_epoch=1662870397&limit=1000&offset=0
  response:
    body:
      string: "{\n    \"total_count\": 5675,\n    \"vulnerability\": [\n        {\n
        \           \"common_vulnerability_scores\": {\n                \"v3.1\":
        {\n                    \"attack_complexity\": \"LOW\",\n                    \"base_score\":
        6.5,\n                    \"vector_string\": \"CVSS:3.1/AV:N/AC:L/PR:N/UI:R/S:U/C:N/I:N/A:H\",\n
        \                   \"integrity_impact\": \"NONE\",\n                    \"report_confidence\":
        \"CONFIRMED\",\n                    \"attack_vector\": \"NETWORK\",\n                    \"privileges_required\":
        \"NONE\",\n                    \"availability_impact\": \"HIGH\",\n                    \"temporal_score\":
        5.7,\n                    \"exploit_code_maturity\": \"UNPROVEN\",\n                    \"user_interaction\":
        \"REQUIRED\",\n                    \"scope\": \"UNCHANGED\",\n                    \"confidentiality_impact\":
        \"NONE\",\n                    \"remediation_level\": \"OFFICIAL_FIX\"\n                },\n
        \               \"v2.0\": {\n                    \"availability_impact\":
        \"COMPLETE\",\n                    \"temporal_score\": 5.3,\n                    \"base_score\":
        7.1,\n                    \"vector_string\": \"AV:N/AC:M/Au:N/C:N/I:N/A:C/E:U/RL:OF/RC:C\",\n
        \                   \"integrity_impact\": \"NONE\",\n                    \"report_confidence\":
        \"CONFIRMED\",\n                    \"confidentiality_impact\": \"NONE\",\n
        \                   \"access_vector\": \"NETWORK\",\n                    \"remediation_level\":
        \"OFFICIAL_FIX\",\n                    \"exploitability\": \"UNPROVEN\",\n
        \                   \"access_complexity\": \"MEDIUM\",\n                    \"authentication\":
        \"NONE\"\n                }\n            },\n            \"exploitation_state\":
        \"No Known\",\n            \"sources\": [\n                {\n                    \"date\":
        \"2022-08-02T17:00:00.000Z\",\n                    \"unique_id\": \"7f8d5435-125a-11ed-9a69-10c37b4ac2ea\",\n
        \                   \"source_name\": \"FreeBSD Project\",\n                    \"url\":
        \"https://vuxml.freebsd.org/freebsd/7f8d5435-125a-11ed-9a69-10c37b4ac2ea.html\",\n
        \                   \"source_description\": \"7f8d5435-125a-11ed-9a69-10c37b4ac2ea\"\n
        \               },\n                {\n                    \"date\": \"2022-08-04T17:00:00.000Z\",\n
        \                   \"unique_id\": \"GLSA 202208-02\",\n                    \"source_name\":
        \"Gentoo Foundation Inc.\",\n                    \"url\": \"https://security.gentoo.org/glsa/202208-02\",\n
        \                   \"source_description\": \"202208-02\"\n                },\n
        \               {\n               [...]
