# Copyright 2023 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

interactions:
- request:
    body: null
    headers:
      X-App-Name:
      - MA-TI-Python-Lib-v0.1
    method: GET
    uri: https://api.intelligence.mandiant.com/v4/dtm/alerts/cht33rmiq259s5f6q4l0
  response:
    body:
      string: "{\"id\":\"cht33rmiq259s5f6q4l0\",\"monitor_id\":\"cev61meltqaa5d2mml9g\",\"doc\":{\"__id\":\"cc6a31e9-90e6-45b0-aeae-e08c37e1b9fd\",\"__type\":\"forum_post\",\"source\":\"blackbeard\",\"timestamp\":\"2023-06-02T17:38:14Z\",\"author\":{\"identity\":{\"name\":\"ACE
        Veen\"}},\"board\":\"/Yard\u0131m Merkezi/THT Yard\u0131m Merkezi\",\"body\":\"\\n\\u003cdiv
        class=\\\"message-userContent lbContainer js-lbContainer \\\" data-lb-id=\\\"post-9797855\\\"
        data-lb-caption-desc=\\\"ACE Veen \xB7 2 Haz 2023 18:38'de\\\"\\u003e\\n\\u003carticle
        class=\\\"message-body js-selectToQuote\\\"\\u003e\\n\\u003cdiv class=\\\"bbWrapper\\\"\\u003e\\u003cblockquote
        data-attributes=\\\"member: 999336\\\" data-quote=\\\"rootibo\\\" data-source=\\\"post:
        97974[...]
- request:
    body: '{"status": "new"}'
    headers:
      Content-Type:
      - application/json
      X-App-Name:
      - MA-TI-Python-Lib-v0.1
    method: PATCH
    uri: https://api.intelligence.mandiant.com/v4/dtm/alerts/cht33rmiq259s5f6q4l0
  response:
    body:
      string: "{\"id\":\"cht33rmiq259s5f6q4l0\",\"monitor_id\":\"cev61meltqaa5d2mml9g\",\"topic_matches\":[],\"label_matches\":[],\"doc_matches\":[{\"match_path\":\"body\",\"locations\":[{\"value\":\"apic\"}]}],\"tags\":[],\"created_at\":\"2023-06-02T18:16:14.651Z\",\"updated_at\":\"2023-06-02T21:06:23.062Z\",\"labels_url\":\"https://api.intelligence.mandiant.com/v4/dtm/docs/forum_post/cc6a31e9-90e6-45b0-aeae-e08c37e1b9fd/labels\",\"topics_url\":\"https://api.intelligence.mandiant.com/v4/dtm/docs/forum_post/cc6a31e9-90e6-45b0-aeae-e08c37e1b9fd/topics\",\"doc_url\":\"https://api.intelligence.mandiant.com/v4/dtm/docs/forum_post/cc6a31e9-90e6-45b0-aeae-e08c37e1b9fd\",\"status\":\"new\",\"alert_type\":\"Forum
        Post\",\"alert_summary\":\"rootibo 39 Al\u0131nt\u0131 Merhaba ismimi degismek
        isdiyorumda ama bilmiyorum nasil yapicam galiba yetkililere soylemek lazim
        herhangi bi yektili varmidir benimle dmden konusan Geni\u015Fletmek i\xE7in
        t\u0131kla V.I.P \xFCyelik alman gerekiyor 01000001 01010100 01000001 01010100\u2026\",\"title\":\"Found
        keyword \\\"apic\\\" posted by actor \\\"ACE Veen\\\" on turkhackteam.org
        forum \\\"/Yard\u0131m Merkezi/THT Yard\u0131m Merkezi\\\"\",\"email_sent_at\":\"\",\"severity\":\"low\",\"confidence\":0.5107142018918567,\"monitor_version\":4}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Api-Proxy:
      - '1'
    status:
      code: 200
      message: OK
version: 1
