# Copyright 2023 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

interactions:
- request:
    body: null
    headers:
      X-App-Name:
      - MA-TI-Python-Lib-v0.1
    method: GET
    uri: https://api.intelligence.mandiant.com/v4/dtm/alerts?sort=created_at&order=desc&size=1&status=new&status=read&sanitize=False&mscore_gte=0
  response:
    body:
      string: "{\"alerts\":[{\"id\":\"cht5cnkslf2e8qght9t0\",\"monitor_id\":\"cajv6mmr49kl5n2a0kd0\",\"doc\":{\"__id\":\"9562f331-9d88-4074-9d22-49bc8f3f932e\",\"__type\":\"shop_listing\",\"source\":\"blackbeard\",\"timestamp\":\"2023-05-31T00:00:00Z\",\"currency\":\"USD\",\"data_availability\":{\"geo_location_available\":true},\"host_access\":{\"host_info\":{\"files\":[{\"filename\":\"System
        Info.txt\"},{\"filename\":\"passwords.txt\"},{\"filename\":\"tags.txt\"}],\"geo_location\":{\"city\":\"Santa
        Catarina\",\"country\":\"Brazil\",\"country_code\":\"BR\"},\"installed_software\":[\"\",\"Racoon\"],\"network_info\":{\"isp\":\"Unifique
        Telecomunica\xD4\xD4es SA\"},\"operating_system\":\"Windows 10 Pro\",\"sites_visited\":[{\"domain\":\"webapp.meupasseiovirtual.com\"},{\"domain\":\"central.gabster.com.br\"},{\"domain\":\"developer.microsoft.com\"},{\"domain\":\"amocostura.com.br\"},{\"domain\":\"p2pmobile.android.paypal.com\"},{\"domain\":\"tazoselmachips.com.br\"},{\"domain\":\"music.spotify.com\"},{\"domain\":\"dasa.gupy.io\"},{\"domain\":\"dropbox.com\"},{\"domain\":\"polarr.editor.photo\"},{\"domain\":\"paypal.com\"},{\"domain\":\"onibusbrasil.com\"},{\"domain\":\"netflix.com\"},{\"domain\":\"login.band.com.br\"},{\"domain\":\"login.plurall.net\"},{\"domain\":\"mte.api.dataprev.gov.br\"},{\"domain\":\"disqus.com\"},{\"domain\":\"servicos.guiadomarceneiro.net\"},{\"domain\":\"myaccount.google.com\"},{\"domain\":\"vivo.com.br\"},{\"ips_v4\":[\"50.16.189.148\"]},{\"domain\":\"render.com.br\"},{\"domain\":\"assine.online\"},{\"domain\":\"shutterstock.com\"},{\"domain\":\"conta.nubank.com.br\"},{\"domain\":\"meliuz.com.br\"},{\"domain\":\"cs.nvt.com\"},{\"domain\":\"dominioatendimento.com\"},{\"domain\":\"accounts.joinville.sc.gov.br\"},{\"domain\":\"portador-vuon.mob4pay.com\"},{\"domain\":\"cartaopresenteperfeito.com.br\"},{\"domain\":\"showdepremios.fortatacadista.com.br\"},{\"domain\":\"portal.linktelwifi.com.br\"},{\"domain\":\"t[...]
- request:
    body: null
    headers:
      X-App-Name:
      - MA-TI-Python-Lib-v0.1
    method: GET
    uri: https://api.intelligence.mandiant.com/v4/dtm/alerts?page=cht5cu0l24d39uevccbg
  response:
    body:
      string: '{"alerts":[]}

        '
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://api.intelligence.mandiant.com/v4/dtm/alerts?page=cht5cu8l24d39uevcccg>;
        rel="next"
      X-Api-Proxy:
      - '1'
    status:
      code: 200
      message: OK
version: 1
