# Copyright 2023 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

interactions:
- request:
    body: null
    headers:
      X-App-Name:
      - MA-TI-Python-Lib-v0.1
    method: GET
    uri: https://api.intelligence.mandiant.com/v4/dtm/alerts?sort=created_at&order=desc&size=1&sanitize=False&mscore_gte=0
  response:
    body:
      string: "{\"alerts\":[{\"id\":\"cht3an1c3h7fvkrrbeog\",\"monitor_id\":\"cbho6aip8c2uhj8qkalg\",\"doc\":{\"__id\":\"9f973866-0ea9-46a3-bbe0-ffec40cc4ea0\",\"__type\":\"message\",\"source\":\"vanellope\",\"timestamp\":\"2023-06-02T18:30:47Z\",\"body\":\"\U0001F525EdeaShop
        \U0001F525\\n\\nFRESH AND HQ STOCK\\n\\n\U0001F47E Botnet Loads \U0001F47E\\n\u2B07\uFE0F
        250 loads - $21 \u2B07\uFE0F\\n\u2B07\uFE0F 5000 loads - $250 \u2B07\uFE0F\\n\u2B07\uFE0F
        10000 loads - $400 \u2B07\uFE0F\\n\u2B07\uFE0F 20000 loads - $700 \u2B07\uFE0F\\n\u2B07\uFE0F
        50000 loads - $1500 \u2B07\uFE0F\\n\\n\U0001F47E FUD crypt - $20 \U0001F47E\\n\\nWhat
        is allowed?\\nStealer Redline or something like that idc\\nCrypto Miners\\nRATS\\nAnd
        more shit\\n\\nWhat is forbidden?\\nRansomware\\n\\n\\n\U0001F4B0Wallets\U0001F4B0\\nExodus
        Files with Guide\\nMetamask Recovery Codes\\nCoinbase with OTP + Guide\\n\\n\u2666\uFE0FCrypto
        Casino\u2666\uFE0F\\nStake.com (send the money to your account as a tip and
        then cashout) Full Access\\nSportbets.io\\nBitcasino.io\\n\\n\u2709\uFE0FMail
        Access\u2709\uFE0F\\nYahoo\\n\\n\U0001F499 PayPal's \U0001F499\\nFull Capture
        China PP with Number and bank or cc\\nFull Capture USA PP with Number and
        bank or cc\\nFull Capture German PP with Number and bank or cc\\n\\n\U0001F51EPorn\U0001F51E\\nOnlyfans
        with cc\\n\\n\U0001F44AOther Stuff\U0001F44A \\nAmazon Giftcards GLOBAL Works
        in every country\\n\\n\U0001F5A5Tools\U0001F5A5\\nEdeaOTP OTP Bot\\nEdeaPal
        PayPal Checker\",\"channel\":{\"__type\":\"channel\",\"channel_id\":\"-1001313375849\",\"channel_info\":{},\"messenger\":{\"id\":\"telegram\",\"name\":\"Telegram\"},\"name\":\"FixCombo
        Marketplace\"},\"ingested\":\"2023-06-02T18:30:48Z\",\"message_id\":\"1570990194688\",\"messenger\":{\"id\":\"telegram\",\"name\":\"Telegram\"},\"sender\":{\"__type\":\"profile\",\"identity\":{\"first_name\":\"fdasdfsadsa\",\"name\":\"fdasdfsadsa
        \"},\"telegram\":{\"name\":\"dasdasdsad3r2\",\"user_id\":5770588253}}},\"labels\":[{\"id\":\"cd1a54c7-7ad0-44b3-be21-b11da5447108\",\"classifier\":\"classifier-content\",\"version\":\"2-0-0\",\"label\":\"prose\",\"confidence\":100,\"element_path\":\"body\"},{\"id\":\"7788998d-298f-4fd6-a498-2193f5511e5d\",\"classifier\":\"classifier-language\",\"version\":\"1-0-0\",\"label\":\"en\",\"confidence\":63,\"element_path\":\"body\"},{\"id\":\"60501a45-e1ac-49bf-ac3a-520550588474\",\"classifier\":\"classifier-threat\",\"version\":\"3-0-0\",\"label\":\"information-security/botnet\",\"confidence\":100},{\"id\":\"b7793465-e7a9-4147-b1e7-c548ca432bf5\",\"classifier\":\"classifier-threat\",\"version\":\"3-0-0\",\"label\":\"information-security/malware/ransomware\",\"confidence\":100}],\"topics\":[{\"id\":\"7f93c2f0-b6de-42b0-870a-a580485103ed\",\"type\":\"name\",\"value\":\"FixCombo
        Marketplace\",\"extractor\":\"dtm-ma\",\"extractor_version\":\"0.1.239\",\"entity_locations\":[{\"element_path\":\"channel.name\",\"offsets\":[0,20]}]},{\"id\":\"a45c8c22-187a-41ca-87d8-81116099e2dd\",\"type\":\"service_name\",\"value\":\"Telegram\",\"extractor\":\"dtm-ma\",\"extractor_version\":\"0.1.239\",\"entity_locations\":[{\"element_path\":\"messenger.name\",\"offsets\":[0,8]},{\"element_path\":\"channel.messenger.name\",\"offsets\":[0,8]}]},{\"id\":\"c2dc5ddc-da7f-4769-8119-7b8f2a0e2382\",\"type\":\"organization\",\"value\":\"EdeaOTP\",\"extractor\":\"analysis-pipeline.nerprocessor-nerenglish-gpu\",\"extractor_version\":\"4-0-[...]
- request:
    body: null
    headers:
      X-App-Name:
      - MA-TI-Python-Lib-v0.1
    method: GET
    uri: https://api.intelligence.mandiant.com/v4/dtm/alerts?page=cht3anol24d39uevbak0
  response:
    body:
      string: "{\"alerts\":[]}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://api.intelligence.mandiant.com/v4/dtm/alerts?page=cht3ao0l24d39uevbal0>;
        rel="next"
      X-Api-Proxy:
      - '1'
    status:
      code: 200
      message: OK
version: 1
