# Copyright 2023 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

interactions:
- request:
    body: null
    headers:
      X-App-Name:
      - MA-Python-Lib-v0.1
    method: GET
    uri: https://api.intelligence.mandiant.com/v4/report/22-00018039
  response:
    body:
      string: '{"id":"report--d5a62569-3935-572a-882e-25d40c63e4c1","report_id":"22-00018039","report_type":"Actor
        Profile","publish_date":"2022-08-01T16:33:59.053Z","title":"APT42: Crooked
        Charms, Cons, and Compromises","audience":["cyber espionage","freemium","fusion","operational","strategic"],"threat_scape":["Cyber
        Espionage"],"requester_org_id":"FireEye","version_one_publish_date":"2022-08-01T16:33:59.053Z","threat_detail":"\u003cp
        style=\"margin: 0in; font-size: 10pt; font-family: ''Open Sans'', sans-serif;\"\u003e\u003cstrong\u003e\u003cspan
        style=\"font-size: 12.0pt;\"\u003eNew Version Details\u003c/span\u003e\u003c/strong\u003e\u003c/p\u003e\n\u003cp
        style=\"margin: 0in; font-size: 10pt; font-family: ''Open Sans'', sans-serif;\"\u003e\u003cspan
        style=\"font-size: 12.0pt;\"\u003e\u0026nbsp;\u003c/span\u003e\u003c/p\u003e\n\u003cp
        style=\"margin: 0in; font-size: 10pt; font-family: ''Open Sans'', sans-serif;\"\u003e\u003cstrong\u003e\u003cspan
        style=\"font-size: 12.0pt;\"\u003eVersion 2, Sept. 1, 2022: \u003c/span\u003e\u003c/strong\u003e\u003cspan
        style=\"font-size: 12.0pt;\"\u003eReport updated to include attribution to
        the Intelligence Organization of the Islamic Revolutionary Guard Corps (IRGC-IO)
        and possible ties to UNC2448.\u003c/span\u003e\u003c/p\u003e\n\u003cp style=\"margin:
        0in; font-size: 10pt; font-family: ''Open Sans'', sans-serif;\"\u003e\u003cspan
        style=\"font-size: 12.0pt;\"\u003e\u0026nbsp;\u003c/span\u003e\u003c/p\u003e\n\u003cp
        style=\"margin: 0in; font-size: 10pt; font-family: ''Open Sans'', sans-serif;\"\u003e\u003cstrong\u003e\u003cspan
        style=\"font-size: 12.0pt; color: #4da8d4;\"\u003eContents\u003c/span\u003e\u003c/strong\u003e\u003c/p\u003e\n\u003cp
        style=\"margin: 0.25in 0in; font-size: 11pt; font-family: ''Calibri'', sans-serif;
        text-transform: uppercase; font-weight: bold; text-decoration: underline;\"\u003e\u003cspan
        style=\"font-family: ''Open Sans'', sans-serif; color: navy; text-decoration:
        underline;\"\u003e\u003cspan style=\"font-size: 12.0pt; mso-bidi-font-family:
        Calibri; mso-bidi-theme-font: minor-latin;\"\u003e\u003ca style=\"font-family:
        ''Open Sans'', sans-serif; color: navy; text-decoration: underline;\" href=\"#_Toc112921187\"\u003e\u003cspan
        style=\"mso-ansi-font-size: 12.0pt;\"\[...]
- request:
    body: null
    headers:
      X-App-Name:
      - MA-Python-Lib-v0.1
    method: GET
    uri: https://api.intelligence.mandiant.com/v4/report/22-00018039/indicators
  response:
    body:
      string: '{"id":"report--d5a62569-3935-572a-882e-25d40c63e4c1","report_id":"22-00018039","report_type":"Actor
        Profile","version":"1.5","publish_date":"2022-08-01T16:33:59.053Z","title":"APT42:
        Crooked Charms, Cons, and Compromises","audience":["cyber espionage","freemium","fusion","operational","strategic"],"threat_scape":["Cyber
        Espionage"],"indicators":[{"id":"md5--b35f82a6-8f6f-5ac0-b2c0-a2f6365cd751","mscore":100,"type":"md5","value":"60e6523d29e8a9b83f4503f2e7fd7e1d","is_exclusive":true,"is_publishable":true,"last_updated":"2022-08-29T16:09:07.775Z","first_seen":"2018-02-05T22:10:39Z","last_seen":"2022-08-01T14:11:23Z","sources":[{"first_seen":"2018-02-05T22:10:39.000+0000","last_seen":"2018-02-05T22:11:05.000+0000","osint":false,"category":[],"source_name":"Mandiant"},{"first_seen":"2022-08-01T14:11:23.000+0000","last_seen":"2022-08-01T14:11:23.000+0000","osint":false,"category":[],"source_name":"Mandiant"}],"associated_hashes":[{"id":"md5--b35f82a6-8f6f-5ac0-b2c0-a2f6365cd751","type":"md5","value":"60e6523d29e8a9b83f4503f2e7fd7e1d"},{"id":"sha1--4f5ee778-0aa2-56e6-b4d5-7561311cff6f","type":"sha1","value":"6303907ec7d1d591efffe876720a0ab051bfd429"},{"id":"sha256--b4539d9d-30e6-55e6-8219-eb8296acd030","type":"sha256","value":"3cad59c65ee1e261658c2489dc45a7c6875d8ccb917d291d282e48bca1b74752"}],"attributed_associations":[{"id":"threat-actor--f7fdbf0c-4b5b-5b95-b005-702afffe4a72","name":"APT42","type":"threat-actor"},{"id":"malware--c5151965-1755-5907-ae0e-9019414e1b44","name":"GHAMBAR","type":"malware"}]},{"id":"md5--697d106d-1879-54b2-901e-f89cb8b9eaa2","mscore":100,"type":"md5","value":"63cd07e805bcd4135a8e3a29fa3ceebd","is_exclusive":true,"is_publishable":true,"last_updated":"2022-08-29T16:05:38.044Z","first_seen":"2020-07-02T14:36:03Z","last_seen":"2022-08-01T14:11:23Z","sources":[{"first_seen":"2022-08-01T14:11:23.000+0000","last_seen":"2022-08-01T14:11:23.000+0000","osin[...]
- request:
    body: null
    headers:
      X-App-Name:
      - MA-Python-Lib-v0.1
    method: GET
    uri: https://api.intelligence.mandiant.com/v4/report/22-00018039/indicators?next=FGluY2x1ZGVfY29udGV4dF91dWlkDnF1ZXJ5VGhlbkZldGNoKhYyLTI1ZXd4ZVJZMlF2eFZzcTdyc193AAAAADP160MWSWlBalNDc2hRYWFiN3VlZWhWNWdPZxZXRVpGZldhY1FUbUFfdDA4ZW9uTVd3AAAAAC2AUdYWUmdpaFJUbkVUbnlydm16bVh4d3lxURY4MU01M3ZYbVFPNldmZ3phRXhEMnh3AAAAAC963BkWWkVBb3BKLUFRSmUxbjhHUFp2Sm44URY4MU01M3ZYbVFPNldmZ3phRXhEMnh3AAAAAC963BcWWkVBb3B[...]
[...]
- request:
    body: null
    headers:
      X-App-Name:
      - MA-Python-Lib-v0.1
    method: GET
    uri: https://api.intelligence.mandiant.com/v4/report/22-00018039
  response:
    body:
      string: "<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\n<html
        xmlns=\"http://www.w3.org/1999/xhtml\">\n    <head>\n        <meta http-equiv=\"Content-Type\"
        content=\"text/html; charset=UTF-8\" />              \n<meta charset=\"UTF-8\">
        \                                                                 \n<meta
        name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"/>                 \n<style
        type=\"text/css\">                                                                 \n
        \   p{-webkit-margin-before:0;-webkit-margin-after:0}                                   \n
      [...]
[...]
