# Copyright 2023 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

interactions:
- request:
    body: null
    headers:
      X-App-Name:
      - MA-Python-Lib-v0.1
    method: GET
    uri: https://api.intelligence.mandiant.com/v4/report/22-00018620/indicators
  response:
    body:
      string: '{"id":"report--735c77bf-352b-5ce1-8974-118a55c493e0","report_id":"22-00018620","report_type":"Malware
        Profile","version":"1.0","publish_date":"2022-08-15T13:40:21.474Z","title":"LOCKBIT.BLACK
        (V3) Malware Profile","audience":["cyber crime","fusion","operational"],"threat_scape":["Cyber
        Crime"],"indicators":[{"id":"fqdn--caec008b-4c2f-5eee-b604-708ab52095dc","mscore":27,"type":"fqdn","value":"lockbitapt2d73krlbewgv27tquljgxr33xbwwsp6rkyieto7u4ncead.onion.ly","is_publishable":true,"last_updated":"2022-09-05T18:29:50.618Z","first_seen":"2022-07-05T19:37:47Z","last_seen":"2022-08-08T17:01:29Z","sources":[{"first_seen":"2022-08-08T17:01:29.000+0000","last_seen":"2022-08-08T17:01:29.000+0000","osint":false,"category":[],"source_name":"Mandiant"},{"first_seen":"2022-07-05T21:29:22.000+0000","last_seen":"2022-07-05T21:29:22.000+0000","osint":false,"category":[],"source_name":"Mandiant"},{"first_seen":"2022-07-05T19:37:47.000+0000","last_seen":"2022-07-05T19:37:47.000+0000","osint":false,"category":[],"source_name":"Mandiant"}]},{"id":"fqdn--2205dc67-2663-506d-a81e-d432257ce5f0","mscore":27,"type":"fqdn","value":"lockbitapt72iw55njgnqpymggskg5yp75ry7rirtdg4m7i42artsbqd.onion.ly","is_publishable":true,"last_updated":"2022-09-05T[...]
- request:
    body: null
    headers:
      X-App-Name:
      - MA-Python-Lib-v0.1
    method: GET
    uri: https://api.intelligence.mandiant.com/v4/report/22-00018620/indicators?next=FGluY2x1ZGVfY29udGV4dF91dWlkDnF1ZXJ5VGhlbkZldGNoKhYyLTI1ZXd4ZVJZMlF2eFZzcTdyc193AAAAADP19GoWSWlBalNDc2hRYWFiN3VlZWhWNWdPZxY0aGlYNVo5TFJWS0o2ek5VcVVnSzBRAAAAADMhVKsWTGRKREd5TUNRckNFWXJhc3hRbnBKZxY0aGlYNVo5TFJWS0o2ek5VcVVnSzBRAAAAADMhVKwWTGRKREd5TUNRckNFWXJhc3hRbnBKZxZ2Vm9tR2lrYVNHYV8wUm9kRU1mS053AAAAADFOm78WZWpobmJ[...]
[...]
