# Copyright 2023 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

interactions:
- request:
    body: null
    headers:
      X-App-Name:
      - MA-Python-Lib-v0.1
    method: GET
    uri: https://api.intelligence.mandiant.com/v4/report/22-00018039
  response:
    body:
      string: '{"id":"report--d5a62569-3935-572a-882e-25d40c63e4c1","report_id":"22-00018039","report_type":"Actor
        Profile","publish_date":"2022-08-01T16:33:59.053Z","title":"APT42: Crooked
        Charms, Cons, and Compromises","audience":["cyber espionage","freemium","fusion","operational","strategic"],"threat_scape":["Cyber
        Espionage"],"requester_org_id":"FireEye","version_one_publish_date":"2022-08-01T16:33:59.053Z","threat_detail":"\u003cp
        style=\"margin: 0in; font-size: 10pt; font-family: ''Open Sans'', sans-serif;\"\u003e\u003cstrong\u003e\u003cspan
        style=\"font-size: 12.0pt;\"\u003eNew Version Details\u003c/span\u003e\u003c/strong\u003e\u003c/p\u003e\n\u003cp
        style=\"margin: 0in; font-size: 10pt; font-family: ''Open Sans'', sans-serif;\"\u003e\u003cspan
        style=\"font-size: 12.0pt;\"\u003e\u0026nbsp;\u003c/span\u003e\u003c/p\u003e\n\u003cp
        style=\"margin: 0in; font-size: 10pt; font-family: ''Open Sans'', sans-serif;\"\u003e\u003cstrong\u003e\u003cspan
        style=\"font-size: 12.0pt;\"\u003eVersion 2, Sept. 1, 2022: \u003c/span\u003e\u003c/strong\u003e\u003cspan
        style=\"font-size: 12.0pt;\"\u003eReport updated to include attribution to
        the Intelligence Organization of the Islamic Revolutionary Guard Corps (IRGC-IO)
        and possible ties to UNC2448.\u003c/span\u003e\u003c/p\u003e\n\u003cp style=\"margin:
        0in; font-size: 10pt; font-family: ''Open Sans'', sans-serif;\"\u003e\u003cspan
        style=\"font-size: 12.0pt;\"\u003e\u0026nbsp;\u003c/span\u003e\u003c/p\u003e\n\u003cp
        style=\"margin: 0in; font-size: 10pt; font-family: ''Open Sans'', sans-serif;\"\u003e\u003cstrong\u003e\u003cspan
        style=\"font-size: 12.0pt; color: #4da8d4;\"\u003eContents\u003c/span\u003e\u003c/strong\u003e\u003c/p\u003e\n\u003cp
        style=\"margin: 0.25in 0in; font-size: 11pt; font-family: ''Calibri'', sans-serif;
        text-transform: uppercase; font-weight: bold; text-decoration: underline;\"\u003e\u003cspan
        style=\"font-family: ''Open Sans'', sans-serif; color: navy; text-decoration:
        underline;\"\u003e\u003cspan style=\"font-size: 12.0pt; mso-bidi-font-family:
        Calibri; mso-bidi-theme-font: minor-latin;\"\u003e\u003ca style=\"font-family:
        ''Open Sans'', sans-serif; color: navy; text-decoration: underline;\" href=\"#_Toc112921187\"\u003e\u003cspan
        style=\"mso-ansi-font-size: 12.0pt;\"\[...]
